{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<script src="{% static 'js/apartment_detail.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-lg-12">
	{% include 'apartment_actions.html' %}
    {% include 'messages.html' %}
    <div class="col-lg-10 col-lg-offset-1">
	    <h2 class="">{{ object.code }}</h2>
        <h3>
            <a target="_blank" href="{% url 'repayment_schedule_combined' 1 object.pk %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-calendar"></span> Grąžinimo grafikas</a>
            <a href="{% url 'update_apartment' object.pk %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-edit"></span> Redaguoti</a>
        </h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
		    	<div class="panel-heading" role="tab" id="headingOne">
		      		<h4 class="panel-title">
		        		<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          			Bendra informacija
		        		</a>
		      		</h4>
		    	</div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		     	<div class="panel-body">
			     	<div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Kodas</th>
			        				<td>{{ object.code }}</td>
			        			</tr>
			        			<tr>
			        				<th>Buto nr.</th>
			        				<td>{{ object.apartment_no }}</td>
			        			</tr>
			        			<tr>
			        				<th>Plotas</th>
			        				<td>{{ object.area }}</td>
			        			</tr>
			        			<tr>
			        				<th>Aukštas</th>
			        				<td>{% if object.floor %}{{ object.floor }}{% endif %}</td>
			        			</tr>
                            <tr>
                                <th>Delspinigiai</th>
                                <td><span class="text-danger">{{ object.ongoing_fine }}</span>
{#                                    <br>Likutis: <span class="text-warning">{{ object.current_fine }}</span> {% if object.fine > 0 %}<a href="{% url 'reset_fine' object.pk %}">Anuliuoti</a>{% endif %}#}
                                </td>
                            </tr>
			        		</tbody>
			        	</table>
			        </div>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Pastatas</th>
			        				<td>{% if object.building %}<a href="{% url 'building_detail' object.building.pk %}">{{ object.building.name }}</a>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Klientas</th>
			        				<td>{% if object.client %}<a href="{% url 'client_detail' object.client.pk %}">{{ object.client.name }}</a>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Nuosavos lėšos</th>
			        				<td>{% if apartment.own_funds == '1' %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Aprašymas</th>
			        				<td>{{ object.description }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
		      	</div>
		    </div>
		</div>

		<div class="panel panel-default">
{#		    <div class="panel-heading" role="tab" id="headingFour">#}
{#		      	<h4 class="panel-title">#}
{#		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">#}
{#		        		Sąskaitos#}
{#		        	</a>#}
{#		      	</h4>#}
{#		    </div>#}
		    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      	<div class="panel-body">
		      		<a type="role" class="btn btn-default" data-toggle="collapse" href="#new_bill" aria-expanded="false" aria-controls="new_bill">Naujas</a>
		      		<div class="collapse" id="new_bill">
		      			<div class="well col-lg-12">
		      				{% csrf_token %}
							<form class="form-horizontal building-form bill-form" action="{% url 'new_bill' %}?next={{ request.path }}" method="post">
					  			<div class="form-group row">
					    			<label for="bill_no" class="col-lg-2 control-label">Sąskaitos Nr. <span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control" id="bill_no" name="bill_no" placeholder="Sąskaitos Nr." required value="{{ object.code }}">
									</div>
									<label for="building" class="col-lg-2 control-label">Pastatas</label>
									<div class="col-lg-4 form-group">
					  					<select class="form-control" id="building" name="building">
					  						<option value="">Pasirinkite</option>
					  						{% for building in buildings %}
					  							<option value="{{ building.pk }}">{{ building.name }}</option>
					  						{% endfor %}
					  					</select>
									</div>
					  			</div>
					  			<div class="form-group row">
					    			<label for="apartment" class="col-lg-2 control-label">Butas</label>
									<div class="col-lg-4 form-group">
					  					<select class="form-control" id="apartment" name="apartment">
					  						<option value="">Pasirinkite</option>
					  						{% for apartment in apartments %}
					  							<option value="{{ apartment.pk }}" {% if apartment.pk == object.pk %}selected{% endif %}>{{ apartment.code }}</option>
					  						{% endfor %}
					  					</select>
									</div>
									<label for="client" class="col-lg-2 control-label">Klientas</label>
									<div class="col-lg-4 form-group">
					  					<select class="form-control" id="client" name="client">
						  					<option value="">Pasirinkite</option>
						  					{% for client in clients %}
					  							<option value="{{ client.pk }}" {% if client.pk == object.client.pk %}selected{% endif %}>{{ client.name }}</option>
					  						{% endfor %}	
				  						</select>
									</div>
					  			</div>
					  			<div class="form-group row">
					    			<label for="from_date" class="col-lg-2 control-label">Nuo<span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control datepicker" id="from_date" name="from_date" required value="{% now "Y-m" %}-01">
									</div>
									<label for="to_date" class="col-lg-2 control-label">Iki<span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control datepicker" id="to_date" name="to_date" required value=""> 
									</div>
					  			</div>
					  			<div class="form-group row">
					    			<label for="sent" class="col-lg-2 control-label">Išsiųsta</label>
									<div class="col-lg-4 form-group">
					  					<input type="checkbox" class="form-control" id="sent" name="sent">
									</div>
                                    <label for="note" class="col-lg-2 control-label">Pastaba</label>
									<div class="col-lg-4 form-group">
					  					<textarea class="form-control" id="note" name="note" rows="3"></textarea>
									</div>
					  			</div>
					  			<div class="col-lg-6">
				  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>	
					  			</div>  			  				  			
							</form>
		      			</div>
		      		</div>

			       	<table class="table table-striped table-hover tablesorter table-condensed">
				    	<thead>
					    	<tr>
					    		<th></th>
					    		<th>Sąskaitos Nr.</th>
					    		<th>Nuo</th>
					    		<th>Iki</th>
					    		<th>Suma</th>
                                <th>Išsiųsta</th>
                                <th>Apmokėta</th>
                                <th>Įvedė</th>
                            </tr>
				    	</thead>
				    	<tbody>
					        {% for bill in apartment.bill_set.all %}
					        	<tr class="clickable-row" data-href="{% url 'bill_detail' bill.pk %}">
					        		<td><a href="{% url 'update_bill' bill.pk %}"><span class="glyphicon glyphicon-edit"></span></a></td>
					            	<td>{{ bill.bill_no }}</td>
					            	<td>{{ bill.from_date }}</td>
					            	<td>{{ bill.to_date }}</td>
					            	<td>{{ bill.bill_sum }}</td>
					            	<td>{% if object.sent %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
                                    <td>{% if object.paid %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
					            	<td>{{ bill.added_by }}</td>
					            </tr>
					        {% endfor %}
				        </tbody>
				    </table>
		      	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      	<h4 class="panel-title">
		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		        		Mokėjimai
		        	</a>
		      	</h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      	<div class="panel-body">
		      		<a type="role" class="btn btn-default" data-toggle="collapse" href="#new_payment" aria-expanded="false" aria-controls="new_bill">Naujas</a>
		      		<div class="collapse" id="new_payment">
		      			<div class="well col-lg-12">
		      				{% csrf_token %}
		      				<form class="form-horizontal building-form payment-form" action="{% url 'new_payment' %}?next={{ request.path }}" method="post">
					  			<div class="form-group row">
					    			<label for="name" class="col-lg-2 control-label">Pavadinimas <span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control" id="name" name="name" placeholder="Pavadinimas" required value="{{ object.code }}_{% now 'ym' %}">
									</div>
									<label for="apartment" class="col-lg-2 control-label">Butas</label>
									<div class="col-lg-4 form-group">
					  					<select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
					  						<option value="">Pasirinkite</option>
					  						{% for apartment in apartments %}
					  							<option value="{{ apartment.pk }}" {% if apartment.pk == object.pk %}selected{% endif %}>{{ apartment.code }}</option>
					  						{% endfor %}
					  					</select>
									</div>
					  			</div>
					  			<div class="form-group row">
					    			<label for="payment_date" class="col-lg-2 control-label">Mokėjimo data <span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control datepicker" id="payment_date" name="payment_date" required value="{% now 'Y-m-d' %}">
									</div>
									<label for="payment_type" class="col-lg-2 control-label">Tipas</label>
									<div class="col-lg-4 form-group">
					  					<select class="form-control selectpicker" id="payment_type" name="payment_type">
					  						<option value="4">Automatinis</option>
					  						<option value="0">Investicijų grąža</option>
					  						<option value="1">Palūkanos</option>
					  						<option value="2">Išankstinis kredito grąžinimas</option>
                                            <option value="3">Delspinigiai</option>
                                            <option value="5">Kompensacija</option>
                                            <option value="6">Permokėta</option>
                                            <option value="7">Pirminis kredito grąžinimas</option>
					  					</select>
									</div>
					  			</div>
					  			<div class="form-group row">
					    			<label for="payment_sum" class="col-lg-2 control-label">Suma<span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control" id="payment_sum" name="payment_sum" placeholder="Suma">
									</div>
									<label for="currency" class="col-lg-2 control-label">Valiuta<span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control" id="currency" name="currency" value="EUR" required>
									</div>
					  			</div>  			  			
					  			<div class="col-lg-6">
				  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>	
					  			</div>	  			
							</form>
		      			</div>
		      		</div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Viso palūkanų, EUR</th>
                                <th>Viso investicijų grąža, EUR</th>
                                <th>Viso išankstinis grąžinimas, EUR</th>
                                <th>Viso kompensuota, EUR</th>
                                <th>Viso, EUR</th>
                                <th class="info">Permokėta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ total_interest }}</th>
                                <th>{{ total_repayment }}</th>
                                <th>{{ total_early_repayment }}</th>
                                <th>{{ total_compensated }}</th>
                                <th>{{ total_sum }}</th>
                                <th class="info">{{ total_overpaid }}</th>
                            </tr>
                        </tbody>
                    </table>
			       	<table id="payment-table" class="table table-striped table-hover tablesorter table-condensed">
				    	<thead>
					    	<tr>
					    		<th>Pavadinimas</th>
					    		<th>Mokėjimo data</th>
					    		<th>Butas</th>
                                <th>Tipas</th>
					    		<th>Suma</th>
					    		<th>Įvedė</th>
					    	</tr>
				    	</thead>
				    	<tbody>
					        {% for payment in apartment.payment_set.all %}
					        	<tr class='clickable-row' data-href='/payments/{{ payment.pk }}'>
					            	<td>{{ payment.name }}</td>
					            	<td>{{ payment.payment_date }}</td>
					            	<td>{{ payment.apartment }}</td>
                                    <td>
                                        {% if payment.payment_type == '0' %}Investicijų grąža
                                        {% elif payment.payment_type == '1' %}Palūkanos
                                        {% elif payment.payment_type == '2' %}Išankstinis kredito grąžinimas
                                        {% elif payment.payment_type == '3' %}Delspinigiai
                                        {% elif payment.payment_type == '5' %}Kompensacija
                                        {% elif payment.payment_type == '6' %}Permokėta
                                        {% elif payment.payment_type == '7' %}Pirminis kredito grąžinimas{% endif %}
                                    </td>
					            	<td>{{ payment.payment_sum }}</td>
					            	<td>{{ payment.added_by }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'update_payment' payment.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                        {% csrf_token %}
                                        <form id="delete-form{{ payment.pk }}" action="{% url 'delete_payment' payment.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                            <a href="#" data-toggle="modal" data-target="#myModal{{ payment.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                        </form>
                                    </td>
					            </tr>

                                <div class="modal fade" id="myModal{{ payment.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti mokėjimą {{ payment.name}}?</h4>
                                            </div>
                                            <div class="modal-body">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                                <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ payment.pk }}").submit();'>Patvirtinti</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
					        {% endfor %}
				        </tbody>
				    </table>
                    <nav class="text-center">
                        <ul id="payment-pagination" class="pagination"></ul>
                    </nav>
		      	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      	<h4 class="panel-title">
		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		        		Paskolos
		        	</a>
		      	</h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      	<div class="panel-body">
                    {% if no_loan %}
                    <div class="alert alert-warning col-lg-12" style="margin-top:24px" role="alert"><strong>Nepilna informacija apie paskolas (turi būti dvi paskolos, viena iš jų atidėtos palūkanos, kita ne) </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
			       	<table class="table table-striped table-hover tablesorter table-condensed">
				    	<thead>
					    	<tr>
					    		<th></th>
					    		<th>Sutarties Nr.</th>
					    		<th>Butas</th>
					    		<th>Palūkanų norma</th>
					    		<th>Suma</th>
                                <th>Likutis</th>
					    		<th>Valiuta</th>
					    		<th>Galioja nuo</th>
					    		<th>Galioja iki</th>
                                <th>Atidėtos palūkanos</th>
					    		<th>Įvedė</th>
					    	</tr>
				    	</thead>
				    	<tbody>
					        {% for loan in object.loan_set.all %}
					        	<tr class='clickable-row' data-href='/loans/{{ loan.pk }}'>
					        		<td><a href=""><span class="glyphicon glyphicon-edit"></span></a></td>
					            	<td>{{ loan.contract_no }}</td>
					            	<td>{{ loan.apartment|default_if_none:"" }}</td>
					            	<td>{{ loan.interest_rate }}</td>
					            	<td>{{ loan.loan_sum }}</td>
                                    <td>{{ loan.outstanding_loan_balance }}</td>
					            	<td>{{ loan.currency }}</td>
					            	<td>{{ loan.valid_from }}</td>
					            	<td>{{ loan.valid_to }}</td>
                                    <td>{% if loan.accrued_interest %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
					            	<td>{{ loan.added_by|default_if_none:"" }}</td>
					            </tr>
					        {% endfor %}
				        </tbody>
				    </table>
		      	</div>
		    </div>
		</div>

        <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFive">
		      	<h4 class="panel-title">
		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		        		Kompensacija
		        	</a>
		      	</h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		      	<div class="panel-body">
                    <a type="role" class="btn btn-default" data-toggle="collapse" href="#new_compensation" aria-expanded="false" aria-controls="new_compensation">Naujas</a>
		      		<div class="collapse" id="new_compensation">
		      			<div class="well col-lg-12">
		      				{% csrf_token %}
		      				<form class="form-horizontal building-form compensation-form" action="{% url 'new_compensation' %}?next={{ request.path }}" method="post">
					  			<div class="form-group row">
					    			<label for="compensation_no" class="col-lg-2 control-label">Pažymos Nr. <span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control" id="compensation_no" name="compensation_no" placeholder="Pažymos Nr." required>
									</div>
									<label for="apartment" class="col-lg-2 control-label">Butas</label>
									<div class="col-lg-4 form-group">
					  					<select class="form-control" id="apartment" name="apartment">
					  						<option value="">Pasirinkite</option>
					  						{% for apartment in apartments %}
					  							<option value="{{ apartment.pk }}" {% if apartment.pk == object.pk %}selected{% endif %}>{{ apartment.code }}</option>
					  						{% endfor %}
					  					</select>
									</div>
					  			</div>
					  			<div class="form-group row">
					    			<label for="date_from" class="col-lg-2 control-label">Nuo <span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control datepicker" id="date_from" name="date_from" required>
									</div>
                                    <label for="date_to" class="col-lg-2 control-label">Iki <span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control datepicker" id="date_to" name="date_to" required>
									</div>

					  			</div>
					  			<div class="form-group row">
					    			<label for="compensation_approved_date" class="col-lg-2 control-label">Išdavimo data</label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control datepicker" id="compensation_approved_date" name="compensation_approved_date" placeholder="Išdavimo data">
									</div>
					  			</div>
					  			<div class="col-lg-6">
				  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>
					  			</div>
							</form>
		      			</div>
		      		</div>
			       	<table class="table table-striped table-hover tablesorter table-condensed">
				    	<thead>
					    	<tr>
                                <th>Pažymos Nr.</th>
					    		<th>Nuo</th>
					    		<th>Iki</th>
					    	</tr>
				    	</thead>
                        <tbody>
                            {% for compensation in object.compensation_set.all %}
                                <tr>
                                    <td>{{ compensation.compensation_no }}</td>
                                    <td>{{ compensation.date_from }}</td>
                                    <td>{{ compensation.date_to }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'update_compensation' compensation.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                        {% csrf_token %}
                                        <form id="delete-form{{ compensation.pk }}" action="{% url 'delete_compensation' compensation.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                            <a href="#" data-toggle="modal" data-target="#myModal{{ compensation.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                        </form>
                                    </td>
                                </tr>

                                <div class="modal fade" id="myModal{{ compensation.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti kompensacijos pažymą {{ compensation.compensation_no }}?</h4>
                                            </div>
                                            <div class="modal-body">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                                <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ compensation.pk }}").submit();'>Patvirtinti</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
				    </table>
		      	</div>
		    </div>
		</div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Kredito mokėjimo grafikas
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <table class="table table-striped table-hover tablesorter table-condensed repayment-table">
                        <thead>
                            <tr>
                                <th>Grąžinimo data</th>
                                <th>Grąžinimo suma, EUR</th>
                                <th>Palūkanos, EUR</th>
                                <th>Mokėtina suma, EUR</th>
                                <th>Kredito likutis, EUR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in schedule %}
                                <tr {% if item.7 >= item.3 %}class="success"{% elif item.7 > 0 %}class="warning"{% elif item.8 %}class="danger"{% endif %}>
                                    <td>{{ item.0 }}</td>
                                    <td><b>{{ item.4 }}</b> ({{ item.5 }})</td>
                                    <td><b>{{ item.2 }}</b> ({{ item.6 }})</td>
                                    <td><b>{{ item.3 }}</b> ({{ item.7 }})</td>
                                    <td>{{ item.1 }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="info">
                                <td><b>Viso:</b></td>
                                <td><b>{{ loan_repayments_total }}</b></td>
                                <td><b>{{ interest_total }}</b></td>
                                <td><b>{{ sum_to_pay_total }}</b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
{#                    <nav class="text-center">#}
{#                        <ul id="repayment-pagination" class="pagination"></ul>#}
{#                    </nav>#}
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}