{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script>
$(function() {
    var availableTags = {{ buildings | safe }};
    $( "#building__name__icontains" ).autocomplete({
        source: function (requestObj, responseFunc) {
            var matchArry = availableTags.slice (); //-- Copy the array
            var srchTerms = $.trim (requestObj.term).split (/\s+/);

            //--- For each search term, remove non-matches.
            $.each (srchTerms, function (J, term) {
                var regX = new RegExp(term, "i");
                matchArry = $.map (matchArry, function (item) {
                    return regX.test (item) ? item : null;
                });
            });
                responseFunc (matchArry);
            }
    });
});
</script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'apartment_actions.html' %}
		{% include 'messages.html' %}
		<div class="panel panel-default col-lg-12">
			<h2 class="new-building-title page-header">Butų sąrašas</h2>
            <form class="form-inline filter-form" method="get" action="">
			  	<div class="form-group">
			    	<input type="text" class="form-control" id="building__name__icontains" name="building__name__icontains"
                           value="{{ request.GET.building__name__icontains }}" placeholder="Pastatas">
			 	</div>
			 	<button type="submit" class="btn btn-default">Filtruoti</button>
                <button type="submit" class="btn btn-default clear-parameters">Anuliuoti</button>
            </form>
		    <table class="table table-striped table-hover tablesorter">
		    	<thead>
			    	<tr>
			    		<th>Kodas</th>
			    		<th>Buto Nr.</th>
			    		<th>Klientas</th>
			    		<th>Pastatas</th>
			    		<th>Plotas</th>
			    		<th>Nuosavos lėšos</th>
			    		<th>Įvedė</th>
			    	</tr>
		    	</thead>
		    	<tbody>
			        {% for apartment in object_list %}
			        	<tr class='clickable-row' data-href='/apartments/{{ apartment.pk }}'>
			            	<td>{{ apartment.code }}</td>
			            	<td>{{ apartment.apartment_no }}</td>
			            	<td>{{ apartment.client.name }}</td>
			            	<td>{{ apartment.building.name }}</td>
			            	<td>{{ apartment.area }}</td>
			            	<td>{% if apartment.own_funds == '1' %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
			            	<td>{{ apartment.added_by }}</td>
			        		<td class="text-right">
                                <a href="{% url 'update_apartment' apartment.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                {% csrf_token %}
                                <form id="delete-form{{ apartment.pk }}" action="{% url 'delete_apartment' apartment.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                    <a href="#" data-toggle="modal" data-target="#myModal{{ apartment.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                </form>
                            </td>
			            </tr>

                        <div class="modal fade" id="myModal{{ apartment.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti butą {{ apartment.code }}?</h4>
                                    </div>
                                    <div class="modal-body">
                                        Kartu bus ištrinti visi susiję duomenys (paskolos, sąskaitos, mokėjimai)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                        <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ apartment.pk }}").submit();'>Patvirtinti</button>
                                    </div>
                                </div>
                            </div>
                        </div>
			        {% endfor %}
		        </tbody>
		    </table>
            <nav class="text-center">
                <ul class="pagination">
                    <li {% if not object_list.has_previous %}class="disabled"{% endif %}>
                        <a {% if object_list.has_previous %}href="?page={{ object_list.previous_page_number }}&building__name__icontains={{ request.GET.building__name__icontains }}" {% else %}
                               disabled="disabled{% endif %} aria-label="Previous" >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in object_list.paginator.page_range %}
                        {% if page <= object_list.number|add:'2' and page >= object_list.number|add:'-2' %}
                            <li {% if object_list.number == page %}class="active"{% endif %}>
                                <a  href="?page={{ page }}&building__name__icontains={{ request.GET.building__name__icontains }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li {% if not object_list.has_next %}class="disabled"{% endif %}>
                        <a {% if object_list.has_next %}href="?page={{ object_list.next_page_number }}&building__name__icontains={{ request.GET.building__name__icontains }}"{% else %}
                           disabled="disabled"{% endif %} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
		</div>
    </div>
{% endblock %}
