{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/paper/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/flatly/bootstrap.min.css" -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.23.5/css/theme.bootstrap_2.min.css' rel='stylesheet' type='text/css'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.23.5/js/jquery.tablesorter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/locales/bootstrap-datepicker.lt.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.simplePagination.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    	<nav class="navbar navbar-default">
    		<div class="container-fluid">
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
	        			<span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="{% url 'home' %}">Project</a>
    			</div>

			    <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if '/buildings/' in request.path %} active {% endif %}"><a href="{% url 'building_list' %}">Pastatai</a></li>
                        <li class="{% if '/clients/' in request.path %} active {% endif %}"><a href="{% url 'client_list' %}">Klientai</a></li>
                        <li class="{% if '/apartments/' in request.path %} active {% endif %}"><a href="{% url 'apartment_list' %}">Butai</a></li>
                        <li class="{% if '/loans/' in request.path %} active {% endif %}"><a href="{% url 'loan_list' %}">Paskolos</a></li>
{#                        <li class="{% if '/bills/' in request.path %} active {% endif %}"><a href="{% url 'bill_list' %}">Sąskaitos</a></li>#}
                        <li class="{% if '/payments/' in request.path %} active {% endif %}"><a href="{% url 'payment_list' %}">Mokėjimai</a></li>
                        <li class="{% if '/documents/' in request.path %} active {% endif %}"><a href="{% url 'documents_view' %}">Dokumentai</a></li>
                        <li class="{% if '/loan-management/' in request.path %} active {% endif %}"><a href="{% url 'loan_management' %}">Apjungimas</a></li>
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dokumentai <span class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a target="_blank" href="{% url 'fines' %}">Delspinigiai</a></li>#}
{#                                <li><a href="#" data-toggle="modal" data-target="#myModal">Kompensacija</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if '/profile/' in request.path %} active {% endif %}">
                            <a href="{% url 'profile_view' request.user.userextended.pk %}">
                                <span class="glyphicon glyphicon-user"></span> {{ request.user.userextended.full_name }}
                            </a>
                        </li>
                        <li><a href="/logout/"><span class="glyphicon glyphicon-off"></span> Atsijungti</a></li>
                    </ul>
			    </div>
  			</div>
        </nav>	
        {% block content %}{% endblock %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Socialinė paramos grafikas</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'compensation_view' %}" id="balance_form">
                            <select class="form-control selectpicker" id="building" name="building" data-live-search="true">
                                <option value="">Pasirinkite</option>
                                {% for building in buildings %}
                                    <option value="{{ building.pk }}">{{ building.name }}</option>
                                {% endfor %}
	  					    </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                        <button type="button" class="btn btn-primary" onclick="$('#balance_form').submit();">Patvirtinti</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

