<div class="row">
	<div class="actions col-lg-6 col-lg-offset-3">
		<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-primary" onclick="location.href='/bills/new/'"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nauja sąskaita</button>
	  		</div>
	  		<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-primary" onclick="location.href='/bills/'"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Sąskaitų sąrašas</button>
	  		</div>
	  		<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Importuoti</button>
	  		</div>
		</div>
	</div>
</div>