{% extends 'base.html' %}
{% block content %}
<div class="col-lg-12">
	{% include 'bill_actions.html' %}
    {% include 'messages.html' %}
    <div class="col-lg-10 col-lg-offset-1">
	    <h2 class="">{{ object.bill_no }}
            <a target="_blank" href="{% url 'bill_view' object.pk %}" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-print"></span> Spausdinti</a>
            <a href="{% url 'update_bill' object.pk %}" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-edit"></span> Redaguoti</a>
        </h2>
	    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
		    	<div class="panel-heading" role="tab" id="headingOne">
		      		<h4 class="panel-title">
		        		<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          			Bendra informacija
		        		</a>
		      		</h4>
		    	</div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		     	<div class="panel-body">
			     	<div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Sąskaitos nr.</th>
			        				<td>{{ object.bill_no }}</td>
			        			</tr>
			        			<tr>
			        				<th>Butas</th>
			        				<td>{% if object.apartment %}<a href="{% url 'apartment_detail' object.apartment.pk %}">{{ object.apartment }}</a>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Nuo</th>
			        				<td>{{ object.from_date }}</td>
			        			</tr>
			        			<tr>
			        				<th>Išsiųsta</th>
			        				<td>{% if object.sent %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span><{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Pastatas</th>
			        				<td>{% if object.building %}<a href="{% url 'building_detail' object.building.pk %}">{{ object.building}}</a>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Klientas</th>
			        				<td>{% if object.client %}<a href="{% url 'client_detail' object.client.pk %}">{{ object.client}}</a>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Iki</th>
			        				<td>{{ object.to_date }}</td>
			        			</tr>
			        			<tr>
			        				<th>Pastaba</th>
			        				<td>{{ object.note }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
		      	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      	<h4 class="panel-title">
		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		        		Sąskaitos detalės
		        	</a>
		      	</h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      	<div class="panel-body">
		       		<table class="table table-striped table-hover tablesorter">
				    	<thead>
					    	<tr>
					    		<th>Pavadinimas</th>
					    		<th>Suma</th>
					    	</tr>
				    	</thead>
				    	<tbody>
					        {% for bill_detail in object.billdetails_set.all %}
					        	<tr class='clickable-row' data-href='/apartments/{{ apartment.pk }}'>
					            	<td>{{ bill_detail.name }}</td>
					            	<td>{{ bill_detail.bill_sum }}</td>
					            </tr>
					        {% endfor %}
				        </tbody>
				    </table>
		      	</div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}