{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/bill_list.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'bill_actions.html' %}
		{% include 'messages.html' %}
		<div class="panel panel-default col-lg-12">
			<h2 class="new-building-title page-header">Sąskaitų sąrašas</h2>
		    <table class="table table-striped table-hover tablesorter table-condensed">
		    	<thead>
			    	<tr>
			    		<th>Sąskaitos Nr.</th>
			    		<th>Pastatas</th>
			    		<th>Butas</th>
			    		<th>Klientas</th>
			    		<th>Nuo</th>
			    		<th>Iki</th>
			    		<th>Suma</th>
			    		<th>Išsiųsta</th>
                        <th>Apmokėta</th>
			    		<th>Įvedė</th>
			    		<th></th>
			    	</tr>
		    	</thead>
		    	<tbody>
			        {% for bill in object_list %}
			        	<tr class='clickable-row' data-href='/bills/{{ bill.pk }}'>
			            	<td>{{ bill.bill_no }}</td>
			            	<td>{% if bill.building %}{{ bill.building }}{% endif %}</td>
			            	<td>{% if bill.apartment %}{{ bill.apartment }}{% endif %}</td>
			            	<td>{% if bill.client %}{{ bill.client }}{% endif %}</td>
			            	<td>{{ bill.from_date }}</td>
			            	<td>{{ bill.to_date }}</td>
			            	<td>{{ bill.bill_sum }}</td>
			            	<td>{% if object.sent %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
                            <td>{% if object.paid %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
			            	<td>{{ bill.added_by }}</td>
			        		<td class="text-right">
                                <a href="{% url 'update_bill' bill.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                {% csrf_token %}
                                <form id="delete-form{{ bill.pk }}" action="{% url 'delete_bill' bill.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                    <a href="#" data-toggle="modal" data-target="#myModal{{ bill.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                </form>
                            </td>
			            </tr>

                        <div class="modal fade" id="myModal{{ bill.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti sąskaitą {{ bill.bill_no}}?</h4>
                                    </div>
                                    <div class="modal-body">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                        <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ bill.pk }}").submit();'>Patvirtinti</button>
                                    </div>
                                </div>
                            </div>
                        </div>
			        {% endfor %}
		        </tbody>
		    </table>
            <nav class="text-center">
                <ul class="pagination">
                    <li {% if not object_list.has_previous %}class="disabled"{% endif %}>
                        <a {% if object_list.has_previous %}href="?page={{ object_list.previous_page_number }}"{% else %}
                               disabled="disabled{% endif %} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in object_list.paginator.page_range %}
                        <li {% if object_list.number == page %}class="active"{% endif %}>
                            <a  href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    <li {% if not object_list.has_next %}class="disabled"{% endif %}>
                        <a {% if object_list.has_next %}href="?page={{ object_list.next_page_number }}"{% else %}
                           disabled="disabled"{% endif %} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
		</div>
    </div>
{% endblock %}