{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/building_list.js' %}"></script>
<script>
$(function() {
    var availableTags = {{ buildings | safe }};
    $( "#name__icontains" ).autocomplete({
        source: function (requestObj, responseFunc) {
            var matchArry = availableTags.slice (); //-- Copy the array
            var srchTerms = $.trim (requestObj.term).split (/\s+/);

            //--- For each search term, remove non-matches.
            $.each (srchTerms, function (J, term) {
                var regX = new RegExp(term, "i");
                matchArry = $.map (matchArry, function (item) {
                    return regX.test (item) ? item : null;
                });
            });
                responseFunc (matchArry);
            }
    });
});
</script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'building_actions.html' %}
		{% include 'messages.html' %}
		<div class="panel panel-default col-lg-12">
			<h2 class="new-building-title page-header">Pastatų sąrašas</h2>
			<form class="form-inline filter-form" method="get" action="">
			  	<div class="form-group">
			    	<input type="text" class="form-control" id="name__icontains" name="name__icontains" value="{{ request.GET.name__icontains }}" placeholder="Pavadinimas">
			 	</div>
			 	<button type="submit" class="btn btn-default">Filtruoti</button>
                <button type="submit" class="btn btn-default clear-parameters">Anuliuoti</button>
			</form>
		    <table class="table table-striped table-hover tablesorter">
		    	<thead>
			    	<tr>
			    		<th>Pavadinimas</th>
			    		<th>Aukštų sk.</th>
			    		<th>Butų sk.</th>
			    		<th>Naudingas plotas kv.m.</th>
			    		<th>Adresas</th>
			    		<th>Miestas</th>
			    		<th>Įvedė</th>
			    	</tr>
		    	</thead>
		    	<tbody>
			        {% for building in object_list %}
			        	<tr class='clickable-row' data-href='/buildings/{{ building.pk }}'>
			            	<td>{{ building.name }}</td>
			            	<td>{{ building.floor_count }}</td>
			            	<td>{{ building.apartment_count }}</td>
			            	<td>{{ building.area }}</td>
			            	<td>{{ building.address }}</td>
			            	<td>{{ building.city }}</td>
			            	<td>{{ building.added_by }}</td>
			        		<td class="text-right">
                                <a href="{% url 'update_building' building.pk %}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                {% csrf_token %}
                                <form id="delete-form{{ building.pk }}" action="{% url 'delete_building' building.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                    <a href="#" data-toggle="modal" data-target="#myModal{{ building.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                </form>
                            </td>
			            </tr>

                        <div class="modal fade" id="myModal{{ building.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti pastatą {{ building.name}}?</h4>
                                    </div>
                                    <div class="modal-body">
                                        Kartu bus ištrinti visi susiję duomenys (butai, paskolos, sąskaitos, mokėjimai)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                        <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ building.pk }}").submit();'>Patvirtinti</button>
                                    </div>
                                </div>
                            </div>
                        </div>
			        {% endfor %}
		        </tbody>
		    </table>

            <nav class="text-center">
                <ul class="pagination">
                    <li {% if not object_list.has_previous %}class="disabled"{% endif %}>
                        <a {% if object_list.has_previous %}href="?page={{ object_list.previous_page_number }}"{% else %}
                               disabled="disabled{% endif %} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in object_list.paginator.page_range %}
                        {% if page <= object_list.number|add:'2' and page >= object_list.number|add:'-2' %}
                        <li {% if object_list.number == page %}class="active"{% endif %}>
                            <a  href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li {% if not object_list.has_next %}class="disabled"{% endif %}>
                        <a {% if object_list.has_next %}href="?page={{ object_list.next_page_number }}"{% else %}
                           disabled="disabled"{% endif %} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
		</div>
    </div>
{% endblock %}