 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Namo balansas</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>

@page {
    size:A4 landscape;
}
html, body {
    margin: 0px;
    height: 100%;
    background: #FFFFFF;
}
body {
	font-family: Verdana;
	font-size: 8pt;
	text-align: justify;
}
table {
	border: 0px none;
}
.value {
	padding-left: 10mm;
}
#reportcontrol {
	padding: 10px;
}
.b {
	font-weight:bold;
}
.s {
	width:10%;
}

.c {
	text-align: center;
}
.r {
	text-align: right;
}

.name {
	white-space: nowrap;
	vertical-align:text-top;
}

#header {

}

#logo {
	float: right;
	width: 120px;
	height: auto;
	margin-bottom: 20px;
}

#report_header {
	clear: both;
	width: 100%;
}

#report_header td {
	vertical-align:text-top;
}

#report {
	margin-top: 20px;
	width: 100%;
	
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 1px 0 0 0;
}

#report th {
	margin: 0;
	padding: 3px 18px 3px 3px;
	border-width: 2px 0 2px 0;
	border-style: solid;
}

#report td {
	margin: 0;
	padding: 3px 18px 3px 3px;
	border-width: 0 0 1px 0;
	border-style: solid;
}

#footer td {
	border: 0px none;
}

#page_footer_consum {
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-collapse: collapse;
	border-style: solid;
}

#page_footer_consum td, #page_footer_consum th {
	margin: 0;
	padding: 4px;
	border-width: 1px 1px 0 0;
	border-style: solid;
}

#page_footer {
    page-break-inside: avoid;
}

#delimiter {
	border-top-width: 3px;
	border-top-color: #000099;
	border-top-style: solid;
	height: 10px;
}
#content {
	width: 100%;
	margin: 0;
	clear: both;
	
}
.overline {
	text-decoration:overline;
}
.justify {
	text-align: justify;
}
.report {
	margin: 10px 0 10px;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 1px 0 0 0;
    border-style: solid;
}
.report td {
	margin: 0;
	padding: 4px;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.pagebreak {
	page-break-before: always;
}

h1, h2 {
	text-align: center;
}

#specifications table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

#specifications table td {
	margin: 0px;
	border: 1px inset black;
}

#price {
	margin-left:3em;
	font-weight:bold;
}

#report_footer td {
	width: 50px;
}
#quate_img {
	width: 180px;
	height: 10px;
	text-align: center
}
#quate_img img {
	padding-top: 14px;
	width: 100%;
	height: auto;
}

.button {
    background-color: #ECF1F4;
    background-image: url("../../../../index.php?entryPoint=getImage&themeName=Sugar5&imageName=bgBtn.gif");
    background-position: center top;
    background-repeat: repeat-x;
    
	border: 1px solid #ABC3D7;
    color: #000000;
    
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    /*vertical-align: middle;*/
    
    font-size: 12px;
	font-weight: normal;
    font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
}

.button:hover {
    background-color: #4E8CCF;
    border-color: #4E8CCF;
    
    color: #fff;
	background-image: none;
	cursor:pointer;
	font-weight: normal;
}

@media print {
	#reportcontrol {
		display: none;
	}
}

#report .detail td, #report .detail th {
	padding-left: 15px;
    padding-right: 3px;
}

#footer.detail td {
	border-width: 2px 0 2px 0;
	border-style: solid;
}

.none {
	display: none;
}

.block {
	display: block;

@media print {
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.button {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
}

</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
function sendEmail() {
	if ( $('[name=email]').val() != "" ) {
		jQuery.ajax({
				url: "index.php",
				type: "POST",
				data: {module : "[@module]", action : "[@action]", record : "[@record]", email : $('[name=email]').val(), href : "[@href]" },
				dataType: "html",
			}).done(function(result) {
				if(result == 1) {
					$('#status').html("Išsiųsta");
				} else {
					alert(result);
					$('#status').html("Įvyko klaida, išsiųsti nepavyko.");
				}
		
		});
	} else {
		$('[name=email]').animate({
	        backgroundColor: '#FF0000'
	    }, 150, function(){
	    $(this).animate({
				 backgroundColor: '#FFFFFF'
			}, 150)
		});
	}
}
</script>

</head>
<body>

	<table id="report_header">
	<tr>
		<td colspan="2"><h2>Namo balansas</h2></td>
	</tr>
	<tr>
		<td width='10%'>Namas</td><td>{{ object.name }}</td>
	</tr>
	<tr>
		<td width='10%'>Data</td><td>{% now "Y-m-d" %}</td>
	</tr>
	<tr>
		<td width='10%'>Filtras</td><td>Data nuo: {{ start }}; Data iki: {{ end }}; </td>
	</tr>
</table>
    <table id="report" cellspacing="0" cellpadding="0">
	<tr>
		<th>Buto kodas</th>
        <th>Buto Nr.</th>
        <th>Klientas</th>
        <th class="r">Kredito balansas pradžiai</th>
        <th class="r">Paskola</th>
        <th class="r">Palūkanos</th>
        <th class="r">Viso</th>
        <th class="r">Delspinigiai</th>
        <th class="r">Išankstinis grąžinimas</th>
        <th class="r">Kompensuota</th>
{#        <th class="r">Apmokėta</th>#}
        <th class="r">Skola</th>
        <th class="r">Kredito balansas pabaigai</th>
	</tr>
    {% for apartment in apartments %}
	<tr>
		<td>{{ apartment.code }}</td>
        <td>{{ apartment.apartment_no }}</td>
        <td>{{ apartment.client }}</td>
        <td class="r">{{ apartment.start_balance }}</td>
        <td class="r">{{ apartment.loan_to_repay }}<br>({{ apartment.paid_loan }})</td>
        <td class="r">{{ apartment.interest_to_pay }}<br>({{ apartment.paid_interest }})</td>
        <td class="r">{{ apartment.total_to_pay }}<br>({{ apartment.paid }})</td>
        <td class="r">{{ apartment.fine }}</td>
        <td class="r">{{ apartment.other }}</td>
        <td class="r">{{ apartment.compensated }}</td>
{#        <td class="r">{{ apartment.paid }}</td>#}
        <td class="r">{{ apartment.debt }}</td>
        <td class="r">{{ apartment.end_balance }}</td>
	</tr>
    {% endfor %}
    <tr id="footer">
		<td></td>
        <td></td>
        <td></td>
        <td class="r">{{ start_balance_total }}</td>
        <td class="r">{{ loan_to_repay_total }}</td>
        <td class="r">{{ interest_to_pay_total }}</td>
        <td class="r">{{ total_to_pay_total }}<br>({{ paid_total }})</td>
        <td class="r">{{ fine_total }}</td>
        <td class="r">{{ paid_other_total }}</td>
        <td class="r">{{ compensated_total }}</td>
{#        <td class="r">{{ paid_total }}</td>#}
        <td class="r">{{ debt_total }}</td>
        <td class="r">{{ end_balance_total }}</td>
	</tr>
</table>
</body>
</html>