{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<script src="{% static 'js/building_detail.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-lg-12">
	{% include 'building_actions.html' %}
    {% include 'messages.html' %}
	<div class="col-lg-10 col-lg-offset-1">
	    <h2 class="">{{ object.name }}</h2>
        <h3>
            <a target="_blank" href="{% url 'repayment_schedule_combined' 0 object.pk %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-calendar"></span> Grąžinimo grafikas</a>
            <a href="#" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-print"></span> Pastato Balansas</a>
            <a href="{% url 'update_building' object.pk %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-edit"></span> Redaguoti</a>
        </h3>
        <div></div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
		    	<div class="panel-heading" role="tab" id="headingOne">
		      		<h4 class="panel-title">
		        		<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          			Bendra informacija
		        		</a>
		      		</h4>
		    	</div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		     	<div class="panel-body">
			     	<div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Pavadinimas</th>
			        				<td>{{ object.name }}</td>
			        			</tr>
			        			<tr>
			        				<th>Aukštų skaičius</th>
			        				<td>{{ object.floor_count }}</td>
			        			</tr>
			        			<tr>
			        				<th>Naudingas plotas kv.m.</th>
			        				<td>{{ object.area }}</td>
			        			</tr>
			        			<tr>
			        				<th>Miestas</th>
			        				<td>{{ object.city }}</td>
			        			</tr>
			        			<tr>
			        				<th>Pašto kodas</th>
			        				<td>{{ object.post_code }}</td>
			        			</tr>
			        			<tr>
			        				<th>Papildomi rekvizitai</th>
			        				<td>{{ object.extra_requisites|default_if_none:"" }}</td>
			        			</tr>
			        			<tr>
			        				<th>Aprašymas</th>
			        				<td>{{ object.description }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Adresas</th>
			        				<td>{{ object.address }}</td>
			        			</tr>
			        			<tr>
			        				<th>Butų skaičius</th>
			        				<td>{{ object.apartment_count }}</td>
			        			</tr>
			        			<tr>
			        				<th>Renovacija baigta</th>
			        				<td>{{ object.renovation_finished_at }}</td>
			        			</tr>
			        			<tr>
			        				<th>Rajonas</th>
			        				<td>{{ object.district }}</td>
			        			</tr>
			        			<tr>
			        				<th>Valstybė</th>
			        				<td>{{ object.country }}</td>
			        			</tr>
			        			<tr>
			        				<th>Pastaba sąskaitoje</th>
			        				<td>{{ object.invoice_note }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
		      	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      	<h4 class="panel-title">
		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		        		Butai
		        	</a>
		      	</h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      	<div class="panel-body">
                    <a type="role" class="btn btn-default" data-toggle="collapse" href="#new_apartment" aria-expanded="false" aria-controls="new_apartment">Naujas</a>
		      		<div class="collapse" id="new_apartment">
		      			<div class="well col-lg-12">
		      				{% csrf_token %}
		      				<form class="form-horizontal building-form apartment-form" action="{% url 'new_apartment' %}?next={{ request.path }}" method="post">
					  			<div class="form-group row">
                                    <label for="code" class="col-lg-2 control-label">Kodas <span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="code" name="code" placeholder="Kodas" required>
                                    </div>
                                    <label for="building" class="col-lg-2 control-label">Pastatas</label>
                                    <div class="col-lg-4 form-group">
                                        <select class="form-control selectpicker" id="building" name="building" data-live-search="true">
                                            <option value="">Pasirinkite</option>
                                            {% for building in buildings %}
                                                <option value="{{ building.pk }}" {% if object.pk == building.pk %}selected{% endif %}>{{ building.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="apartment_no" class="col-lg-2 control-label">Buto nr.</label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="apartment_no" name="apartment_no" placeholder="Buto nr.">
                                    </div>
                                    <label for="client" class="col-lg-2 control-label">Klientas</label>
                                    <div class="col-lg-4 form-group">
                                        <select class="form-control selectpicker" id="client" name="client" data-live-search="true">
                                            <option value="">Pasirinkite</option>
                                            {% for client in clients %}
                                                <option value="{{ client.pk }}">{{ client.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="area" class="col-lg-2 control-label">Plotas<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="area" name="area" placeholder="Plotas">
                                    </div>
                                    <label for="own_funds" class="col-lg-2 control-label">Nuosavos lėšos</label>
                                    <div class="col-lg-4 form-group">
                                        <input type="checkbox" class="form-control" id="own_funds" name="own_funds">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="floor" class="col-lg-2 control-label">Aukštas</label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="floor" name="floor" placeholder="Aukštas">
                                    </div>
                                    <label for="description" class="col-lg-2 control-label">Aprašymas</label>
                                    <div class="col-lg-4 form-group">
                                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                                    </div>
                                </div>
					  			<div class="col-lg-6">
				  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>
					  			</div>
							</form>
		      			</div>
		      		</div>
		       		<table class="table table-striped table-hover tablesorter">
				    	<thead>
					    	<tr>
					    		<th>Kodas</th>
					    		<th>Buto Nr.</th>
					    		<th>Klientas</th>
					    		<th>Pastatas</th>
					    		<th>Plotas</th>
					    		<th>Nuosavos lėšos</th>
					    		<th>Įvedė</th>
					    	</tr>
				    	</thead>
				    	<tbody>
					        {% for apartment in object.apartment_set.all %}
					        	<tr class='clickable-row' data-href='/apartments/{{ apartment.pk }}'>
					            	<td>{{ apartment.code }}</td>
					            	<td>{{ apartment.apartment_no }}</td>
					            	<td>{{ apartment.client.name }}</td>
					            	<td>{{ apartment.building.name }}</td>
					            	<td>{{ apartment.area }}</td>
					            	<td>{% if apartment.own_funds == '1' %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
					            	<td>{{ apartment.added_by }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'update_apartment' apartment.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                        {% csrf_token %}
                                        <form id="delete-form{{ apartment.pk }}" action="{% url 'delete_apartment' apartment.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                            <a href="#" data-toggle="modal" data-target="#myModal{{ apartment.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                        </form>
                                    </td>
					            </tr>

                                <div class="modal fade" id="myModal{{ apartment.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti butą {{ apartment.code }}?</h4>
                                            </div>
                                            <div class="modal-body">
                                                Kartu bus ištrinti visi susiję duomenys (paskolos, sąskaitos, mokėjimai)
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                                <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ apartment.pk }}").submit();'>Patvirtinti</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
					        {% endfor %}
				        </tbody>
				    </table>
		      	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      	<h4 class="panel-title">
		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		        		Paskolos
		        	</a>
		      	</h4>
            </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      	<div class="panel-body">
                    <a type="role" class="btn btn-default" data-toggle="collapse" href="#new_loan" aria-expanded="false" aria-controls="new_bill">Naujas</a>
		      		<div class="collapse" id="new_loan">
		      			<div class="well col-lg-12">
		      				{% csrf_token %}
		      				<form class="form-horizontal building-form loan-form" action="{% url 'new_loan' %}?next={{ request.path }}" method="post">
                                <div class="form-group row">
                                    <label for="accrued_interest" class="col-lg-2 control-label">Atidėtos palūkanos</label>
                                    <div class="col-lg-4 form-group">
                                        <input type="checkbox" class="form-control" id="accrued_interest" name="accrued_interest">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="contract_no" class="col-lg-2 control-label">Sutarties nr.<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="contract_no" name="contract_no" placeholder="Sutarties nr." required>
                                    </div>
                                    <label for="loan_type" class="col-lg-2 control-label">Tipas<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <select class="form-control" id="loan_type" name="loan_type" required>
                                            <option value="Linijinis">Linijinis</option>
                                            <option value="Anuiteto">Anuiteto</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="building" class="col-lg-2 control-label">Namas</label>
                                    <div class="col-lg-4 form-group">
                                        <select class="form-control selectpicker" id="building" name="building" data-live-search="true">
                                            <option value="">Pasirinkite</option>
                                            {% for building in buildings %}
                                                <option value="{{ building.pk }}" {% if object.pk == building.pk %}selected{% endif %}>{{ building.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <label for="apartment" class="col-lg-2 control-label">Butas</label>
                                    <div class="col-lg-4 form-group">
                                        <select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
                                            <option value="">Pasirinkite</option>
                                            {% for apartment in apartments %}
                                                <option value="{{ apartment.pk }}">{{ apartment.code }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="loan_sum2" class="col-lg-2 control-label">Suma<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="loan_sum2" name="loan_sum2"required value="0,00">
                                    </div>
                                    <label for="interest_rate" class="col-lg-2 control-label">Palūkanų norma<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="interest_rate" name="interest_rate" value="3,00" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="currency" class="col-lg-2 control-label">Valiuta<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="currency" name="currency" placeholder="Valiuta" value="EUR" required>
                                    </div>
                                    <label for="postponed_months" class="col-lg-2 control-label">Atidėjimas mėn.</label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="postponed_months" name="postponed_months" placeholder="Atidėjimas mėn." value="0">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="valid_from" class="col-lg-2 control-label">Galioja nuo<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="valid_from" name="valid_from" required>
                                    </div>
                                    <label for="valid_to" class="col-lg-2 control-label">Galioja iki<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="valid_to" name="valid_to" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="created_at" class="col-lg-2 control-label">Sudaryta<span class="asterisk">*</span></label>
                                        <div class="col-lg-4 form-group">
                                            <input class="form-control datepicker" id="created_at" name="created_at" required>
                                        </div>
                                    <label for="description" class="col-lg-2 control-label">Aprašymas</label>
                                    <div class="col-lg-4 form-group">
                                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                                    </div>
                                </div>
                                <h4 class="page-header">Nustatymai</h4>
                {#	  			<div class="form-group row">#}
                {#					<label for="calculate_from_outstanding_shares" class="col-lg-2 control-label">Skaičiuoti nuo negrąžintos dalies<span class="asterisk">*</span></label>#}
                {#					<div class="col-lg-4 form-group">#}
                {#	  					<input type="checkbox" class="form-control" id="calculate_from_outstanding_shares" name="calculate_from_outstanding_shares" checked required>#}
                {#					</div>#}
                {#	  			</div>#}
                                <div class="form-group row">
                                    <label for="payment_day" class="col-lg-2 control-label">Mokėjimo diena<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control" id="payment_day" name="payment_day" placeholder="Mokėjimo diena" required>
                                    </div>
                                    <label for="days_interest_is_payable" class="col-lg-2 control-label">Palūkanos skaičiuojamos<span class="asterisk" required>*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <select class="form-control" id="days_interest_is_payable" name="days_interest_is_payable">
                                            <option value="365">365 dienas per metus</option>
                                            <option value="360">360 dienų per metus</option>
                                        </select>
                                    </div>
                                </div>
                {#	  			<div class="form-group row">#}
                {#	    			<label for="loan_repayment_day" class="col-lg-2 control-label">Paskolos dengimo diena</label>#}
                {#					<div class="col-lg-4 form-group">#}
                {#	  					<input class="form-control" id="loan_repayment_day" name="loan_repayment_day" placeholder="Paskolos dengimo diena">#}
                {#					</div>#}
                {#					<label for="combined" class="col-lg-2 control-label">Apjungianti</label>#}
                {#					<div class="col-lg-4 form-group">#}
                {#	  					<input type="checkbox" class="form-control" id="combined" name="combined">#}
                {#					</div>#}
                {#	  			</div>#}
                                <div class="form-group row">
                                    <label for="calculate_fine" class="col-lg-2 control-label">Skaičiuoti delspinigius<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input type="checkbox" class="form-control" id="calculate_fine" name="calculate_fine" checked required>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>
                                </div>
                            </form>
		      			</div>
                    </div>
                    {% if no_loan %}
                    <div class="alert alert-warning col-lg-12" style="margin-top:24px" role="alert"><strong>Nepilna informacija apie paskolas (turi būti dvi paskolos, viena iš jų atidėtos palūkanos, kita ne) </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
			       	<table class="table table-striped table-hover tablesorter table-condensed">
				    	<thead>
					    	<tr>
					    		<th>Sutarties Nr.</th>
					    		<th>Pastatas</th>
					    		<th>Tipas</th>
					    		<th>Suma</th>
					    		<th>Valiuta</th>
					    		<th>Galioja nuo</th>
					    		<th>Galioja iki</th>
                                <th>Atidėtos palūkanos</th>
					    		<th>Įvedė</th>
					    	</tr>
				    	</thead>
				    	<tbody>
					        {% for loan in building.loan_set.all %}
					        	<tr class='clickable-row' data-href='/loans/{{ loan.pk }}'>
					            	<td>{{ loan.contract_no }}</td>
					            	<td>{{ loan.building|default_if_none:"" }}</td>
					            	<td>{{ loan.loan_type }}</td>
					            	<td>{{ loan.loan_sum }}</td>
					            	<td>{{ loan.currency }}</td>
					            	<td>{{ loan.valid_from }}</td>
					            	<td>{{ loan.valid_to }}</td>
                                    <td>{% if loan.accrued_interest %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
					            	<td>{{ loan.added_by|default_if_none:"" }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'update_loan' loan.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                        {% csrf_token %}
                                        <form id="delete-form{{ loan.pk }}" action="{% url 'delete_loan' loan.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                            <a href="#" data-toggle="modal" data-target="#myModal{{ loan.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                        </form>
                                    </td>
					            </tr>

                                <div class="modal fade" id="myModal{{ loan.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti paskolą {{ loan.contract_no }}?</h4>
                                            </div>
                                            <div class="modal-body">
                                                Kartu bus ištrinti visi susiję duomenys (sąskaitos, mokėjimai)
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                                <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ loan.pk }}").submit();'>Patvirtinti</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
					        {% endfor %}
				        </tbody>
				    </table>
		      	</div>
		    </div>
		</div>

        <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFour">
		      	<h4 class="panel-title">
		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		        		Mokėjimai
		        	</a>
		      	</h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      	<div class="panel-body">
		      		<a type="role" class="btn btn-default" data-toggle="collapse" href="#new_payment" aria-expanded="false" aria-controls="new_bill">Naujas</a>
		      		<div class="collapse" id="new_payment">
		      			<div class="well col-lg-12">
		      				{% csrf_token %}
		      				<form class="form-horizontal building-form payment-form" action="{% url 'new_payment' %}?next={{ request.path }}" method="post">
					  			<div class="form-group row">
					    			<label for="name" class="col-lg-2 control-label">Pavadinimas <span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control" id="name" name="name" placeholder="Pavadinimas" required value="{{ object.name }}_{% now 'ym' %}">
									</div>
									<label for="building" class="col-lg-2 control-label">Pastatas</label>
									<div class="col-lg-4 form-group">
					  					<select class="form-control selectpicker" id="building" name="building">
					  						<option value="">Pasirinkite</option>
					  						{% for building in buildings %}
					  							<option value="{{ building.pk }}" {% if building.pk == object.pk %}selected{% endif %}>{{ building.name}}</option>
					  						{% endfor %}
					  					</select>
									</div>
					  			</div>
					  			<div class="form-group row">
					    			<label for="payment_date" class="col-lg-2 control-label">Mokėjimo data <span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control datepicker" id="payment_date" name="payment_date" required value="{% now 'Y-m-d' %}">
									</div>
									<label for="payment_type" class="col-lg-2 control-label">Tipas</label>
									<div class="col-lg-4 form-group">
					  					<select class="form-control selectpicker" id="payment_type" name="payment_type">
					  						<option value="0">Pasirinkite</option>
					  						<option value="0">Investicijų grąža</option>
					  						<option value="1">Palūkanos</option>
					  						<option value="2">Išankstinis kredito grąžinimas</option>
                                            <option value="3">Delspinigiai</option>
                                            <option value="7">Pirminis kredito grąžinimas</option>
					  					</select>
									</div>
					  			</div>
					  			<div class="form-group row">
					    			<label for="payment_sum" class="col-lg-2 control-label">Suma<span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control" id="payment_sum" name="payment_sum" placeholder="Suma">
									</div>
									<label for="currency" class="col-lg-2 control-label">Valiuta<span class="asterisk">*</span></label>
									<div class="col-lg-4 form-group">
					  					<input class="form-control" id="currency" name="currency" value="EUR" required>
									</div>
					  			</div>
					  			<div class="col-lg-6">
				  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>
					  			</div>
							</form>
		      			</div>
		      		</div>
			       	<table id="payment-table" class="table table-striped table-hover tablesorter table-condensed">
				    	<thead>
					    	<tr>
					    		<th>Pavadinimas</th>
					    		<th>Mokėjimo data</th>
{#					    		<th>Butas</th>#}
					    		<th>Suma</th>
					    		<th>Įvedė</th>
					    	</tr>
				    	</thead>
				    	<tbody>
					        {% for payment in object.payment_set.all %}
					        	<tr class='clickable-row' data-href='/payments/{{ payment.pk }}'>
{#					        		<td><a href=""><span class="glyphicon glyphicon-edit"></span></a></td>#}
					            	<td>{{ payment.name }}</td>
					            	<td>{{ payment.payment_date }}</td>
{#					            	<td>{{ payment.apartment }}</td>#}
					            	<td>{{ payment.payment_sum }}</td>
					            	<td>{{ payment.added_by }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'update_payment' payment.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                        {% csrf_token %}
                                        <form id="delete-form{{ payment.pk }}" action="{% url 'delete_payment' payment.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                            <a href="#" data-toggle="modal" data-target="#myModal{{ payment.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                        </form>
                                    </td>
					            </tr>
                                <div class="modal fade" id="myModal{{ payment.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti mokėjimą {{ payment.name}}?</h4>
                                            </div>
                                            <div class="modal-body">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                                <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ payment.pk }}").submit();'>Patvirtinti</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
					        {% endfor %}
				        </tbody>
				    </table>
                    <nav class="text-center">
                        <ul id="payment-pagination" class="pagination"></ul>
                    </nav>
		      	</div>
		    </div>
		</div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Kredito mokėjimo grafikas
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <table class="table table-striped table-hover tablesorter table-condensed">
                        <thead>
                            <tr>
                                <th>Grąžinimo data</th>
                                <th>Grąžinimo suma, EUR</th>
                                <th>Palūkanos, EUR</th>
                                <th>Mokėtina suma, EUR</th>
                                <th>Kredito likutis, EUR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in schedule %}
                                <tr {% if item.7 >= item.3 %}class="success"{% elif item.7 > 0 %}class="warning"{% elif item.8 %}class="danger"{% endif %}>
                                    <td>{{ item.0 }}</td>
                                    <td><b>{{ item.4 }}</b> ({{ item.5 }})</td>
                                    <td><b>{{ item.2 }}</b> ({{ item.6 }})</td>
                                    <td><b>{{ item.3 }}</b> ({{ item.7 }})</td>
                                    <td>{{ item.1 }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="info">
                                <td><b>Viso:</b></td>
                                <td><b>{{ loan_repayments_total }}</b></td>
                                <td><b>{{ interest_total }}</b></td>
                                <td><b>{{ sum_to_pay_total }}</b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{#		<div class="panel panel-default">#}
{#		    <div class="panel-heading" role="tab" id="headingFour">#}
{#		      	<h4 class="panel-title">#}
{#		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">#}
{#		        		Sąskaitos#}
{#		        	</a>#}
{#		      	</h4>#}
{#		    </div>#}
{#		    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">#}
{#		      	<div class="panel-body">#}
{#			       	<table class="table table-striped table-hover tablesorter table-condensed">#}
{#		    	<thead>#}
{#			    	<tr>#}
{#			    		<th></th>#}
{#			    		<th>Sąskaitos Nr.</th>#}
{#			    		<th>Pastatas</th>#}
{#			    		<th>Butas</th>#}
{#			    		<th>Klientas</th>#}
{#			    		<th>Nuo</th>#}
{#			    		<th>Iki</th>#}
{#			    		<th>Suma</th>#}
{#			    		<th>Išsiųsta</th>#}
{#			    		<th>Įvedė</th>#}
{#			    	</tr>#}
{#		    	</thead>#}
{#		    	<tbody>#}
{#			        {% for bill in building.bill_set.all %}#}
{#			        	<tr class='clickable-row' data-href='/bills/{{ bill.pk }}'>#}
{#			        		<td><a href=""><span class="glyphicon glyphicon-edit"></span></a></td>#}
{#			            	<td>{{ bill.bill_no }}</td>#}
{#			            	<td>{{ bill.building }}</td>#}
{#			            	<td>{{ bill.apartment }}</td>#}
{#			            	<td>{{ bill.client }}</td>#}
{#			            	<td>{{ bill.from_date }}</td>#}
{#			            	<td>{{ bill.to_date }}</td>#}
{#			            	<td>{{ bill.bill_sum }}</td>#}
{#			            	<td>{{ bill.sent }}</td>#}
{#			            	<td>{{ bill.added_by }}</td>#}
{#			            </tr>#}
{#			        {% endfor %}#}
{#		        </tbody>#}
{#		    </table>#}
{#		      	</div>#}
{#		    </div>#}
{#		</div>#}



        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Pastato Balansas</h4>
                    </div>
                    <div class="modal-body">
                        <form target="_blank" action="{% url 'building_balance' object.pk %}" id="balance_form">
                            <label for="start" class="col-lg-2 control-label">Nuo<span class="asterisk">*</span></label>
                            <div class="col-lg-4 form-group">
                                <input class="form-control datepicker" id="start" name="start" required>
                            </div>
                            <label for="end" class="col-lg-2 control-label">Iki<span class="asterisk">*</span></label>
                            <div class="col-lg-4 form-group">
                                <input class="form-control datepicker" id="end" name="end" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                        <button type="button" class="btn btn-primary" onclick="$('#balance_form').submit();">Patvirtinti</button>
                    </div>
                </div>
            </div>
        </div>
	</div>

</div>
</div>
{% endblock %}