{% extends 'base.html' %}
{% block content %}
	<div class="col-lg-12">
		{% include 'client_actions.html' %}
        {% include 'messages.html' %}
	    <div class="col-lg-10 col-lg-offset-1">
	    <h2 class="">{{ object.name }}
            <a href="{% url 'update_client' object.pk %}" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-edit"></span> Redaguoti</a>
        </h2>
	    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
		    	<div class="panel-heading" role="tab" id="headingOne">
		      		<h4 class="panel-title">
		        		<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          			Bendra informacija
		        		</a>
		      		</h4>
		    	</div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		     	<div class="panel-body">
			     	<div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Pavadinimas</th>
			        				<td>{{ object.name }}</td>
			        			</tr>
			        			<tr>
			        				<th>Tipas</th>
			        				<td>{{ object.client_type }}</td>
			        			</tr>
			        			<tr>
			        				<th>El. paštas</th>
			        				<td>{{ object.email }}</td>
			        			</tr>
			        			<tr>
			        				<th>Aprašymas</th>
			        				<td>{{ object.description }}</td>
			        			</tr>
			        			<tr>
			        				<th>Reg. adresas</th>
			        				<td>{{ object.reg_street }}<br>{{ object.reg_city }} {{ object.reg_post_code }}<br>{{ object.reg_country }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Kodas</th>
			        				<td>{{ object.code|default_if_none:"" }}</td>
			        			</tr>
			        			<tr>
			        				<th>Telefonas</th>
			        				<td>{{ object.telephone }}</td>
			        			</tr>
			        			<tr>
			        				<th>Faksas</th>
			        				<td>{{ object.fax }}</td>
			        			</tr>
			        			<tr>
			        				<th>Koresp. adresas</th>
			        				<td>{{ object.corr_street }}<br>{{ object.corr_city }} {{ object.corr_post_code }}<br>{{ object.corr_country }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
		      	</div>
		    </div>
		</div>

		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      	<h4 class="panel-title">
		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		        		Butai
		        	</a>
		      	</h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      	<div class="panel-body">
		       		<table class="table table-striped table-hover tablesorter">
				    	<thead>
					    	<tr>
					    		<th>Kodas</th>
					    		<th>Buto Nr.</th>
					    		<th>Klientas</th>
					    		<th>Pastatas</th>
					    		<th>Plotas</th>
					    		<th>Nuosavos lėšos</th>
					    		<th>Įvedė</th>
					    	</tr>
				    	</thead>
				    	<tbody>
					        {% for apartment in object.apartment_set.all %}
					        	<tr class='clickable-row' data-href='/apartments/{{ apartment.pk }}'>
					            	<td>{{ apartment.code }}</td>
					            	<td>{{ apartment.apartment_no }}</td>
					            	<td>{{ apartment.client.name }}</td>
					            	<td>{{ apartment.building.name }}</td>
					            	<td>{{ apartment.area }}</td>
					            	<td>{{ apartment.own_funds }}</td>
					            	<td>{{ apartment.added_by }}</td>
					            </tr>
					        {% endfor %}
				        </tbody>
				    </table>
		      	</div>
		    </div>
		</div>

		<div class="panel panel-default">
{#		    <div class="panel-heading" role="tab" id="headingFour">#}
{#		      	<h4 class="panel-title">#}
{#		      		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">#}
{#		        		Sąskaitos#}
{#		        	</a>#}
{#		      	</h4>#}
{#		    </div>#}
		    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      	<div class="panel-body">
			       	<table class="table table-striped table-hover tablesorter table-condensed">
		    	<thead>
			    	<tr>
			    		<th></th>
			    		<th>Sąskaitos Nr.</th>
			    		<th>Pastatas</th>
			    		<th>Butas</th>
			    		<th>Klientas</th>
			    		<th>Nuo</th>
			    		<th>Iki</th>
			    		<th>Suma</th>
			    		<th>Išsiųsta</th>
			    		<th>Įvedė</th>
			    	</tr>
		    	</thead>
		    	<tbody>
			        {% for bill in client.bill_set.all %}
			        	<tr class='clickable-row' data-href='/bills/{{ bill.pk }}'>
			        		<td><a href=""><span class="glyphicon glyphicon-edit"></span></a></td>
			            	<td>{{ bill.bill_no }}</td>
			            	<td>{{ bill.building }}</td>
			            	<td>{{ bill.apartment }}</td>
			            	<td>{{ bill.client }}</td>
			            	<td>{{ bill.from_date }}</td>
			            	<td>{{ bill.to_date }}</td>
			            	<td>{{ bill.bill_sum }}</td>
			            	<td>{{ bill.sent }}</td>
			            	<td>{{ bill.added_by }}</td>
			            </tr>
			        {% endfor %}
		        </tbody>
		    </table>
		      	</div>
		    </div>
		</div>
	</div>
	</div>
{% endblock %}