{% extends 'base.html' %}
{% block head %}
<script>
$(function() {
    var availableTags = {{ clients | safe }};
    $( "#name__icontains" ).autocomplete({
        source: function (requestObj, responseFunc) {
            var matchArry = availableTags.slice ();
            var srchTerms = $.trim (requestObj.term).split (/\s+/);

            $.each (srchTerms, function (J, term) {
                var regX = new RegExp(term, "i");
                matchArry = $.map (matchArry, function (item) {
                    return regX.test (item) ? item : null;
                });
            });
                responseFunc (matchArry);
            }
    });
});
</script>
{% endblock %}
{% block content %}
    <div class="col-lg-12">
		{% include 'client_actions.html' %}
		{% include 'messages.html' %}
		<div class="panel panel-default col-lg-12">
			<h2 class="new-building-title page-header">Klientų sąrašas</h2>
            <form class="form-inline filter-form" method="get" action="">
			  	<div class="form-group">
			    	<input type="text" class="form-control" id="name__icontains" name="name__icontains" value="{{ request.GET.name__icontains }}" placeholder="Vardas / Pavardė">
			 	</div>
			 	<button type="submit" class="btn btn-default">Filtruoti</button>
                <button type="submit" class="btn btn-default clear-parameters">Anuliuoti</button>
			</form>
		    <table class="table table-striped table-hover tablesorter">
		    	<thead>
			    	<tr>
			    		<th>Pavadinimas</th>
			    		<th>Tipas</th>
			    		<th>Telefonas</th>
			    		<th>El. paštas</th>
			    		<th>Įvedė</th>
			    		<th></th>
			    	</tr>
			    </thead>
			    <tbody>
			        {% for client in object_list %}
			        	<tr class='clickable-row' data-href='/clients/{{ client.pk }}'>
			            	<td>{{ client.name }}</td>
			            	<td>{{ client.client_type }}</td>
			            	<td>{{ client.telephone }}</td>
			            	<td>{{ client.email }}</td>
			            	<td>{{ client.added_by }}</td>
			        		<td class="text-right">
                                <a href="{% url 'update_client' client.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                {% csrf_token %}
                                <form id="delete-form{{ client.pk }}" action="{% url 'delete_client' client.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                    <a href="#" data-toggle="modal" data-target="#myModal{{ client.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                </form>
                            </td>

                        <div class="modal fade" id="myModal{{ client.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti klientą {{ client.name}}?</h4>
                                    </div>
                                    <div class="modal-body">
                                        Kartu bus ištrinti visi susiję duomenys (butai, paskolos, sąskaitos, mokėjimai)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                        <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ client.pk }}").submit();'>Patvirtinti</button>
                                    </div>
                                </div>
                            </div>
                        </div>
			            </tr>
			        {% endfor %}
		        </tbody>
		    </table>
            <nav class="text-center">
                <ul class="pagination">
                    <li {% if not object_list.has_previous %}class="disabled"{% endif %}>
                        <a {% if object_list.has_previous %}href="?page={{ object_list.previous_page_number }}"{% else %}
                               disabled="disabled{% endif %} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in object_list.paginator.page_range %}
                        {% if page <= object_list.number|add:'2' and page >= object_list.number|add:'-2' %}
                            <li {% if object_list.number == page %}class="active"{% endif %}>
                                <a  href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li {% if not object_list.has_next %}class="disabled"{% endif %}>
                        <a {% if object_list.has_next %}href="?page={{ object_list.next_page_number }}"{% else %}
                           disabled="disabled"{% endif %} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
		</div>
    </div>
{% endblock %}