<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Soc. parama {{ building }}</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 20px 0px 20px -40px;padding: 0px;border: none;width: 1075px;}

#page_1 #dimg1 {position:absolute;top:553px;left:50px;z-index:-1;width:2px;height:24px;}
#page_1 #dimg1 #img1 {width:2px;height:24px;}

@page {
    size:A4 landscape;
}


#page_2 {position:relative; overflow: hidden;margin: 72px 0px 384px -40px;padding: 0px;border: none;width: 1068px;}





.ft0{font: 11px 'Verdana';line-height: 13px;}
.ft1{font: 9px 'Verdana';line-height: 14px;}
.ft2{font: bold 11px 'Verdana';line-height: 13px;}
.ft3{font: 1px 'Verdana';line-height: 1px;}
.ft4{font: 9px 'Verdana';line-height: 12px;}
.ft5{font: 8px 'Verdana';line-height: 10px;}
.ft6{font: 1px 'Verdana';line-height: 7px;}
.ft7{font: 1px 'Verdana';line-height: 4px;}
.ft8{font: 1px 'Verdana';line-height: 6px;}
.ft9{font: 1px 'Verdana';line-height: 5px;}
.ft10{font: 9px 'Verdana';line-height: 11px;}
.ft11{font: 11px 'Verdana';line-height: 20px;}
.ft12{font: 11px 'Verdana';margin-left: 5px;line-height: 13px;}
.ft13{font: 11px 'Verdana';margin-left: 3px;line-height: 13px;}
.ft14{font: 15px 'Arial';line-height: 17px;}
.ft15{font: 13px 'Gabriola';line-height: 13px;}
.ft16{font: 13px 'Arial';line-height: 13px;}
.ft17{font: 15px 'Gabriola';line-height: 13px;}
.ft18{font: 15px 'Arial';line-height: 13px;}
.ft19{font: 13px 'Gabriola';line-height: 15px;}
.ft20{font: 13px 'Arial';line-height: 15px;}
.ft21{font: 12px 'Gabriola';line-height: 17px;}
.ft22{font: 12px 'Arial';line-height: 15px;}
.ft23{font: 13px 'Gabriola';line-height: 26px;}
.ft24{font: 13px 'Gabriola';line-height: 14px;}
.ft25{font: 13px 'Arial';line-height: 14px;}
.ft26{font: 13px 'Gabriola';line-height: 14px;}
.ft27{font: 11px 'Arial';line-height: 14px;}
.ft28{font: 11px 'Gabriola';line-height: 14px;}
.ft29{font: 11px 'Arial';line-height: 13px;}
.ft30{font: 13px 'Gabriola';line-height: 23px;}
.ft31{font: 13px 'Arial';line-height: 16px;}

.center{margin:0}

.p0{text-align: left;padding-left: 755px;padding-right: 68px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-right: 555px;margin-top: 15px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 24px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 13px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 27px;margin-bottom: 0px;}
.p6{text-align: left;padding-right: 917px;margin-top: 1px;margin-bottom: 0px;text-indent: 4px;}
.p7{text-align: left;padding-left: 481px;margin-top: 24px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 25px;margin-top: 1px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 403px;margin-top: 1px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 413px;margin-top: 26px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 496px;margin-top: 1px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 37px;margin-top: 27px;margin-bottom: 0px;}
.p13{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: left;padding-left: 28px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: center;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: center;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: center;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: left;padding-left: 44px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: center;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: right;padding-right: 80px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: right;padding-right: 25px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: right;padding-right: 52px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: right;padding-right: 54px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p27{text-align: left;padding-left: 21px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p28{text-align: left;padding-left: 21px;margin-top: 0px;margin-bottom: 0px;}
.p29{text-align: left;padding-left: 235px;margin-top: 1px;margin-bottom: 0px;}
.p30{text-align: left;padding-left: 21px;padding-right: 48px;margin-top: 10px;margin-bottom: 0px;}
.p31{text-align: justify;padding-left: 21px;padding-right: 52px;margin-top: 4px;margin-bottom: 0px;}
.p32{text-align: justify;padding-left: 21px;margin-top: 1px;margin-bottom: 0px;}
.p33{text-align: right;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p34{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p35{text-align: left;padding-left: 222px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p36{text-align: left;padding-left: 63px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p37{text-align: right;padding-right: 36px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p38{text-align: right;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p39{text-align: left;padding-left: 260px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p40{text-align: left;padding-left: 96px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td1{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 43px;vertical-align: bottom;}
.td2{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 165px;vertical-align: bottom;}
.td3{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 57px;vertical-align: bottom;}
.td4{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 107px;vertical-align: bottom;}
.td5{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 155px;vertical-align: bottom;}
.td6{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
.td7{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 227px;vertical-align: bottom;}
.td8{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 110px;vertical-align: bottom;}
.td9{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 43px;vertical-align: bottom;}
.td10{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 165px;vertical-align: bottom;}
.td11{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 57px;vertical-align: bottom;}
.td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 107px;vertical-align: bottom;}
.td13{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 155px;vertical-align: bottom;}
.td14{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 227px;vertical-align: bottom;}
.td15{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 110px;vertical-align: bottom;}
.td16{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
.td17{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 111px;vertical-align: bottom;}
.td18{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 116px;vertical-align: bottom;}
.td19{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 116px;vertical-align: bottom;}
.td20{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 43px;vertical-align: bottom;}
.td21{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 165px;vertical-align: bottom;}
.td22{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 57px;vertical-align: bottom;}
.td23{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 107px;vertical-align: bottom;}
.td24{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 155px;vertical-align: bottom;}
.td25{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
.td26{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 110px;vertical-align: bottom;}
.td27{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 44px;vertical-align: bottom;}
.td28{padding: 0px;margin: 0px;width: 166px;vertical-align: bottom;}
.td29{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 44px;vertical-align: bottom;}
.td30{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 166px;vertical-align: bottom;}
.td31{padding: 0px;margin: 0px;width: 0;vertical-align: bottom;}
.td32{border-bottom: #000000 1px solid;padding: 0px;margin-left: -50px;width: 369px;vertical-align: bottom;}
.td33{padding: 0px;margin: 0px;width: 253px;vertical-align: bottom;}
.td34{padding: 0px;margin: 0px;width: 153px;vertical-align: bottom;}
.td35{padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
.td36{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 265px;vertical-align: bottom;}
.td37{padding: 0px;margin: 0px;width: 10px;vertical-align: bottom;}
.td38{padding: 0px;margin: 0px;width: 275px;vertical-align: bottom;}

.tr0{height: 15px;}
.tr1{height: 22px;}
.tr2{height: 6px;}
.tr3{height: 7px;}
.tr4{height: 11px;}
.tr5{height: 4px;}
.tr6{height: 10px;}
.tr7{height: 12px;}
.tr8{height: 5px;}
.tr9{height: 16px;}
.tr10{height: 17px;}
.tr11{height: 23px;}
.tr12{height: 13px;}
.tr13{height: 56px;}
.tr14{height: 57px;}
.tr15{height: 14px;}

.t0{width: 1019px;margin-left: 7px;margin-top: 15px;font: 8px 'Verdana';}
.t1{width: 981px;margin-top: 28px;font: 13px 'Arial';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">

<P class="p0 ft0">Kredito, paimto daugiabučiam namui atnaujinti (modernizuoti), ir palūkanų apmokėjimo už asmenis, turinčius teisę į būsto šildymo išlaidų kompensaciją, tvarkos aprašo 4 priedas</P>
<P class="p1 ft1">(Paraiškos kreditui, paimtam daugiabučiam namui atnaujinti (modernizuoti), ir palūkanoms, tenkančioms asmenims, turintiems teisę į būsto šildymo išlaidų kompensaciją, apmokėti forma)</P>
<P class="p2 ft2"><span style="text-decoration: underline">{{ request.user.userextended.company_description }} &nbsp;</span></P>
<P class="p3 ft0">(bendrojo naudojimo objektų valdytojo pavadinimas)</P>
<P class="p4 ft0"><span style="text-decoration: underline">{{ request.user.userextended.company_description_short }} &nbsp;</span></P>
<P class="p3 ft0">(bendrojo naudojimo objektų valdytojo duomenys)</P>
<P class="p5 ft0"><span style="text-decoration: underline">{{ request.user.userextended.company_district }} &nbsp;</span></P>
<P class="p6 ft1">(savivaldybės pavadinimas) savivaldybės administracijai</P>
<P class="p7 ft2">PARAIŠKA</P>
<P class="p8 ft2">KREDITUI, PAIMTAM DAUGIABUČIAM NAMUI ATNAUJINTI (MODERNIZUOTI), IR PALŪKANOMS, TENKANČIOMS ASMENIMS, TURINTIEMS TEISĘ Į BŪSTO ŠILDYMO</P>
<P class="p9 ft2">IŠLAIDŲ KOMPENSACIJĄ, APMOKĖTI</P>
<P class="p10 ft0"><span style="text-decoration: underline">{{ date }} &nbsp;</span> Nr. <span style="text-decoration: underline">{{ object_list.0.compensation_no }} &nbsp;</span></P>
<P class="p11 ft0">(data)</P>
<P class="p12 ft0">Namo adresas <span style="text-decoration: underline">{{ building }} &nbsp;</span></P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"></TD>
	<TD class="tr0 td1"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr0 td3"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr0 td5"><P class="p13 ft3">&nbsp;</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p14 ft4">Laikotarpis, kuriam</P></TD>
	<TD colspan=2 class="tr0 td7"><P class="p15 ft5">Mokestiniai įsipareigojimai laikotarpiu, kuriam</P></TD>
	<TD class="tr0 td8"><P class="p13 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"></TD>
	<TD class="tr3 td9"><P class="p13 ft6">&nbsp;</P></TD>
	<TD class="tr3 td10"><P class="p13 ft6">&nbsp;</P></TD>
	<TD class="tr3 td11"><P class="p13 ft6">&nbsp;</P></TD>
	<TD rowspan=2 class="tr4 td12"><P class="p16 ft5">Kredito likutis</P></TD>
	<TD class="tr3 td13"><P class="p13 ft6">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr4 td14"><P class="p17 ft5">nustatyta buto savininko teisė į kreditö ir</P></TD>
	<TD class="tr3 td15"><P class="p13 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td0"></TD>
	<TD class="tr5 td9"><P class="p13 ft7">&nbsp;</P></TD>
	<TD class="tr5 td10"><P class="p13 ft7">&nbsp;</P></TD>
	<TD class="tr5 td11"><P class="p13 ft7">&nbsp;</P></TD>
	<TD rowspan=2 class="tr6 td13"><P class="p18 ft5">Savivaldybės administracijos</P></TD>
	<TD rowspan=2 class="tr6 td16"><P class="p19 ft5">nustatyta buto savininko</P></TD>
	<TD rowspan=2 class="tr6 td15"><P class="p18 ft5">Kredito ir palūkanų</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"></TD>
	<TD rowspan=2 class="tr7 td9"><P class="p20 ft5">Eil. Nr.</P></TD>
	<TD rowspan=2 class="tr7 td10"><P class="p19 ft5">Buto savininko vardas, pavardė</P></TD>
	<TD rowspan=2 class="tr7 td11"><P class="p17 ft5">Buto Nr.</P></TD>
	<TD rowspan=2 class="tr7 td12"><P class="p16 ft5">paraiškos pateikimo</P></TD>
	<TD colspan=2 rowspan=2 class="tr7 td14"><P class="p19 ft5">palūkanų apmokėjimą</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"></TD>
	<TD rowspan=2 class="tr7 td13"><P class="p17 ft5">išduotos pažymos data ir Nr.</P></TD>
	<TD rowspan=2 class="tr7 td16"><P class="p19 ft5">teisė į kredito ir palūkanų</P></TD>
	<TD rowspan=2 class="tr7 td15"><P class="p16 ft5">suma, Eur</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD class="tr2 td9"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td10"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p13 ft8">&nbsp;</P></TD>
	<TD rowspan=2 class="tr7 td12"><P class="p19 ft5">dieną, Eur</P></TD>
	<TD class="tr8 td17"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p13 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"></TD>
	<TD class="tr2 td9"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td10"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td13"><P class="p13 ft8">&nbsp;</P></TD>
	<TD rowspan=2 class="tr4 td16"><P class="p21 ft10">apmokėjimą</P></TD>
	<TD rowspan=3 class="tr9 td15"><P class="p16 ft5">kredito suma, Eur</P></TD>
	<TD rowspan=3 class="tr9 td19"><P class="p22 ft5">palūkanų suma, Eur</P></TD>
	<TD class="tr2 td15"><P class="p13 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD class="tr8 td9"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td10"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td11"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td12"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td13"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p13 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD class="tr8 td9"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td10"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td11"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td12"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td13"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p13 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"></TD>
	<TD class="tr2 td20"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td21"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td22"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td23"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td24"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td25"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td26"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td18"><P class="p13 ft8">&nbsp;</P></TD>
	<TD class="tr2 td26"><P class="p13 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD class="tr9 td9"><P class="p20 ft5">1</P></TD>
	<TD class="tr9 td10"><P class="p23 ft4">2</P></TD>
	<TD class="tr9 td11"><P class="p24 ft4">3</P></TD>
	<TD class="tr9 td12"><P class="p17 ft5">4</P></TD>
	<TD class="tr9 td13"><P class="p17 ft5">5</P></TD>
	<TD class="tr9 td16"><P class="p17 ft5">6</P></TD>
	<TD class="tr9 td15"><P class="p25 ft4">7</P></TD>
	<TD class="tr9 td19"><P class="p26 ft4">8</P></TD>
	<TD class="tr9 td15"><P class="p16 ft5">9</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD class="tr8 td20"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td21"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td22"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td24"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td25"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td26"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td26"><P class="p13 ft9">&nbsp;</P></TD>
</TR>
    {% for compensation, index, sums in object_list %}
<TR>
	<TD class="tr10 td0"></TD>
	<TD class="tr10 td9"><P class="p20 ft4">{{ index | add:1 }}.</P></TD>
	<TD class="tr10 td10"><P class="center">&nbsp; {{ compensation.apartment.client }}</P></TD>
	<TD class="tr10 td11"><P class="center">&nbsp; {{ compensation.apartment.apartment_no }}</P></TD>
	<TD class="tr10 td12"><P class="center">&nbsp; {{ sums.3 }}</P></TD>
	<TD class="tr10 td13"><P class="center">&nbsp; {{ compensation.compensation_approved_date }} Nr.{{ compensation.compensation_no }}</P></TD>
	<TD class="tr10 td16"><P class="center">&nbsp; {{ compensation.date_from | date:'Y-m' }} - {{ compensation.date_to | date:'Y-m' }}</P></TD>
	<TD class="tr10 td15"><P class="center">&nbsp; {{ sums.1 }}</P></TD>
	<TD class="tr10 td19"><P class="center">&nbsp; {{ sums.2 }}</P></TD>
	<TD class="tr10 td15"><P class="center">&nbsp; {{ sums.0 }}</P></TD>
</TR>
<TR>
    <TD class="tr8 td0"></TD>
    <TD class="tr8 td20"><P class="p13 ft9">&nbsp;</P></TD>
    <TD class="tr8 td21"><P class="p13 ft9">&nbsp;</P></TD>
    <TD class="tr8 td22"><P class="p13 ft9">&nbsp;</P></TD>
    <TD class="tr8 td23"><P class="p13 ft9">&nbsp;</P></TD>
    <TD class="tr8 td24"><P class="p13 ft9">&nbsp;</P></TD>
    <TD class="tr8 td25"><P class="p13 ft9">&nbsp;</P></TD>
    <TD class="tr8 td26"><P class="p13 ft9">&nbsp;</P></TD>
    <TD class="tr8 td18"><P class="p13 ft9">&nbsp;</P></TD>
    <TD class="tr8 td26"><P class="p13 ft9">&nbsp;</P></TD>
    </TR>
    {% endfor %}
    <TR>
    <TD class="tr10 td0"></TD>
	<TD class="tr10 td27"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr10 td28"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr10 td11"><P class="p27 ft4">Iš viso</P></TD>
	<TD class="tr10 td12"><P class="p13 ft4">&nbsp; {{ total_credit_balance }}</P></TD>
	<TD class="tr10 td13"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr10 td16"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr10 td15"><P class="p13 ft4">&nbsp; {{ total_credit_to_pay }}</P></TD>
	<TD class="tr10 td19"><P class="p13 ft4">&nbsp; {{ total_interest_to_pay }}</P></TD>
	<TD class="tr10 td15"><P class="p13 ft4">&nbsp; {{ total_to_pay }}</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD class="tr8 td29"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td30"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td22"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td24"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td25"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td26"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p13 ft9">&nbsp;</P></TD>
	<TD class="tr8 td26"><P class="p13 ft9">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="" style="page-break-before: always;">


<P class="p28 ft0">Mokėtina kredito ir palūkanų suma <span style="text-decoration: underline">{{ total_in_words }} &nbsp;</span></P>
<P class="p29 ft0">(žodžiais)</P>
{#    <span style="text-decoration: underline">{{ request.user.userextended.bank }} &nbsp;</span>#}
<P class="p30 ft11">Prašome nurodytą kredito ir palūkanų sumą pervesti į  banko sąskaitą Nr. <span style="text-decoration: underline">{{ building.extra_requisites }} &nbsp;</span>. PRIDEDAMA (pateikiama pirmą kartą teikiant paraišką):</P>
<P class="p31 ft0"><SPAN class="ft0">1.</SPAN><SPAN class="ft12">Būsto ir urbanistinės plėtros agentūros raštas, patvirtinantis, kad daugiabučio namo butų savininkai įgyvendina ar įgyvendino valstybės remiamą daugiabučio namo atnaujinimo (modernizavimo) projektą, arba bendrojo naudojimo objektų valdytojo raštas, nurodantis, pagal kokią savivaldybės remiamą programą įgyvendintas ar įgyvendinamas daugiabučio namo atnaujinimo (modernizavimo) projektas, ___ lapai </SPAN><NOBR>(-ų).</NOBR></P>
<P class="p32 ft0"><SPAN class="ft0">2.</SPAN><SPAN class="ft13">Kredito sutarties kopija, ___ lapai </SPAN><NOBR>(-ų).</NOBR></P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR height=0>
	<TD width=6px></TD>
	<TD width=259px></TD>
	<TD width=10px></TD>
	<TD width=553px></TD>
	<TD width=153px></TD>
</TR>
<TR>
	<TD colspan=2 class="tr13 td36"><P class="p13 ft14">Direktorius</P></TD>
	<TD class="tr14 td37"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr14 td33"><P class="p37 ft14">___________</P></TD>
	<TD class="tr14 td34"><P class="p38 ft14">________________</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr15 td38"><P class="p13 ft25">(bendrojo naudojimo objekt<SPAN class="ft24">ų </SPAN>valdytojo savi-</P></TD>
	<TD class="tr15 td33"><P class="p39 ft27">(parašas)</P></TD>
	<TD class="tr15 td34"><P class="p40 ft29">(vardas ir pavard<SPAN class="ft28">ė</SPAN>)</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr15 td38"><P class="p13 ft25">valdyb<SPAN class="ft24">ė</SPAN>s programos <SPAN class="ft24">į</SPAN>gyvendinimo administrato-</P></TD>
	<TD class="tr15 td33"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr15 td34"><P class="p13 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr11 td38"><P class="p13 ft31">riaus ar jo <SPAN class="ft30">į</SPAN>galioto asmens pareig<SPAN class="ft30">ų </SPAN>pavadinimas)</P></TD>
	<TD class="tr11 td33"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr11 td34"><P class="p13 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr13 td36"><P class="p13 ft14">Renovacijos finans<SPAN class="ft23">ų </SPAN>administrator<SPAN class="ft23">ė</SPAN></P></TD>
	<TD class="tr14 td37"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr14 td33"><P class="p37 ft14">___________</P></TD>
	<TD class="tr14 td34"><P class="p38 ft14">________________</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr15 td38"><P class="p13 ft25">(bendrojo naudojimo objekt<SPAN class="ft24">ų </SPAN>valdytojo savi-</P></TD>
	<TD class="tr15 td33"><P class="p39 ft27">(parašas)</P></TD>
	<TD class="tr15 td34"><P class="p40 ft29">(vardas ir pavard<SPAN class="ft28">ė</SPAN>)</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr15 td38"><P class="p13 ft25">valdyb<SPAN class="ft24">ė</SPAN>s programos <SPAN class="ft24">į</SPAN>gyvendinimo administrato-</P></TD>
	<TD class="tr15 td33"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr15 td34"><P class="p13 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr11 td38"><P class="p13 ft31">riaus ar jo <SPAN class="ft30">į</SPAN>galioto asmens pareig<SPAN class="ft30">ų </SPAN>pavadinimas)</P></TD>
	<TD class="tr11 td33"><P class="p13 ft3">&nbsp;</P></TD>
	<TD class="tr11 td34"><P class="p13 ft3">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
</BODY>
</HTML>
