{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'js/documents.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="col-lg-3">
        <ul class="nav nav-tabs nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="#balance" aria-controls="home" role="tab" data-toggle="tab">Pastato balansas</a></li>
{#            <li role="presentation"><a href="#graph" aria-controls="profile" role="tab" data-toggle="tab">Grąžinimo grafikas</a></li>#}
            <li role="presentation"><a href="#compensation" aria-controls="messages" role="tab" data-toggle="tab">Kompensacija</a></li>
            <li role="presentation"><a href="#fine" aria-controls="settings" role="tab" data-toggle="tab">Delspinigiai</a></li>
            <li role="presentation"><a href="#fine-sb" aria-controls="settings" role="tab" data-toggle="tab">Delspinigiai (ŠB)</a></li>
        </ul>
    </div>
    <div class="col-lg-9">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="balance">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pastato balanso grafikas</h3>
                    </div>
                    <div class="panel-body">
                        <form target="_blank" action="/" id="balance_form" class="form-inline" name="balance_form">
                            <div class="input-group">

                                <div class="input-group">
                                    <label for="start" class="col-lg-2 control-label">Nuo<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="start" name="start" required>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="end" class="col-lg-2 control-label">Iki<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="end" name="end" required>
                                    </div>
                                </div>
                                <span class="input-group-btn">
                                    <select class="form-control selectpicker" id="building_balance_select" name="building" data-live-search="true">
                                        <option value="">Pasirinkite pastatą</option>
                                        {% for building in buildings %}
                                            <option value="{{ building.pk }}">{{ building.name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Generuoti</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="graph">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Namo / buto paskolos grąžinimo grafikas</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="compensation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pastato butų socialinės paramos grafikas</h3>
                    </div>
                    <div class="panel-body">
                        <form target="_blank" action="{% url 'compensation_view' %}" id="balance_form" class="form-inline">
                            <div class="input-group">
                                <div class="input-group">
                                    <label for="date" class="col-lg-2 control-label">Data<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="date" name="date" required>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="start" class="col-lg-2 control-label">Nuo<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="start" name="start" required>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="end" class="col-lg-2 control-label">Iki<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="end" name="end" required>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-top: 32px;">
                                    <span class="input-group-btn">
                                        <select class="form-control selectpicker" id="building" name="building" data-live-search="true">
                                            <option value="">Pasirinkite pastatą</option>
                                            {% for building in buildings %}
                                                <option value="{{ building.pk }}">{{ building.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Generuoti</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="fine">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pastato butų delspinigių grafikas</h3>
                    </div>
                    <div class="panel-body">
                        <form target="_blank" action="{% url 'fines' %}" id="fine_form" class="form-inline">
                            <div class="input-group">
{#                                <div class="input-group">#}
{#                                    <input class="form-control" id="contract_no" name="contrtact_no" placeholder="Nr." required>#}
{#                                </div>#}
                                <div class="input-group">
                                    <label for="to" class="col-lg-2 control-label">Iki<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="to" name="to" required>
                                    </div>
                                </div>
                                <span class="input-group-btn">
                                    <select class="form-control selectpicker" id="building" name="building" data-live-search="true">
                                        <option value="">Pasirinkite pastatą</option>
                                        {% for building in buildings %}
                                            <option value="{{ building.pk }}">{{ building.name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Generuoti</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="fine-sb">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pastato butų delspinigių grafikas (ŠB)</h3>
                    </div>
                    <div class="panel-body">
                        <form target="_blank" action="{% url 'fines_sb' %}" id="fine-sb_form" class="form-inline">
                            <div class="input-group">
                                <div class="input-group">
                                    <label for="date" class="col-lg-2 control-label">Data<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="date" name="date" required>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="to" class="col-lg-2 control-label">Iki<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="to" name="to" required>
                                    </div>
                                </div>
                                <span class="input-group-btn">
                                    <select class="form-control selectpicker" id="building" name="building" data-live-search="true">
                                        <option value="">Pasirinkite pastatą</option>
                                        {% for building in buildings %}
                                            <option value="{{ building.pk }}">{{ building.name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Generuoti</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}