 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Delspinigiai</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
html, body {
    margin: 0px;
    height: 100%;
    background: #FFFFFF;
}
body {
	font-family: Verdana;
	font-size: 8px;
	text-align: justify;
}
table {
	border: 0px none;
}
.value {
	padding-left: 10mm;
}
#reportcontrol {
	padding: 10px;
}
.b {
	font-weight:bold;
}
.s {
	width:10%;
}

.c {
	text-align: center;
}
.r {
	text-align: right;
}

.name {
	white-space: nowrap;
	vertical-align:text-top;
}

#header {

}

#logo {
	float: right;
	width: 120px;
	height: auto;
	margin-bottom: 20px;
}

#report_header {
	clear: both;
	width: 100%;
}

#report_header td {
	vertical-align:text-top;
}

#report {
	margin-top: 20px;
	width: 100%;
	
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 1px 0 0 0;
}

#report th {
	margin: 0;
	padding: 3px 18px 3px 3px;
	border-width: 2px 0 2px 0;
	border-style: solid;
}

#report td {
	margin: 0;
	padding: 3px 18px 3px 3px;
	border-width: 0 0 1px 0;
	border-style: solid;
}

#footer td {
	border: 0px none;
}

#page_footer_consum {
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-collapse: collapse;
	border-style: solid;
}

#page_footer_consum td, #page_footer_consum th {
	margin: 0;
	padding: 4px;
	border-width: 1px 1px 0 0;
	border-style: solid;
}

#page_footer {
    page-break-inside: avoid;
}

#delimiter {
	border-top-width: 3px;
	border-top-color: #000099;
	border-top-style: solid;
	height: 10px;
}
#content {
	width: 100%;
	margin: 0;
	clear: both;
	
}
.overline {
	text-decoration:overline;
}
.justify {
	text-align: justify;
}
.report {
	margin: 10px 0 10px;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 1px 0 0 0;
    border-style: solid;
}
.report td {
	margin: 0;
	padding: 4px;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.pagebreak {
	page-break-before: always;
}

h1, h2, h3 {
	text-align: center;
}

#specifications table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

#specifications table td {
	margin: 0px;
	border: 1px inset black;
}

#price {
	margin-left:3em;
	font-weight:bold;
}

#report_footer td {
	width: 50px;
}
#quate_img {
	width: 180px;
	height: 10px;
	text-align: center
}
#quate_img img {
	padding-top: 14px;
	width: 100%;
	height: auto;
}

.button {
    background-color: #ECF1F4;
    background-position: center top;
    background-repeat: repeat-x;
    
	border: 1px solid #ABC3D7;
    color: #000000;
    
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    /*vertical-align: middle;*/
    
    font-size: 12px;
	font-weight: normal;
    font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
}

.button:hover {
    background-color: #4E8CCF;
    border-color: #4E8CCF;
    
    color: #fff;
	background-image: none;
	cursor:pointer;
	font-weight: normal;
}

@page {
    size: landscape;
}

@media print {
    @page {
        size: landscape;
    }

	#reportcontrol {
		display: none;
	}
}

#report .detail td, #report .detail th {
	padding-left: 15px;
    padding-right: 3px;
}

#footer.detail td {
	border-width: 2px 0 2px 0;
	border-style: solid;
}

.none {
	display: none;
}

.block {
	display: block;
}

@media print {
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.button {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


</head>
<body>
<A HREF="javascript:window.print()" class="no-print button">Spausdinti</A>

<table id="report_header">
    <tr>
        <td width='10%'>{{ request.user.userextended.company_description }}</td><td></td>
    </tr>
    <tr>
        <td width='10%'>UAB "Gelvora"</td><td></td>
    </tr>
    <tr>
		<td colspan="1"><h2>Pažyma</h2></td>
	</tr>
    <tr>
        <td colspan="1"><h3>{{ to }} Nr. {{ contract_no }}</h3></td>
    </tr>
</table>
    <table id="report" cellspacing="0" cellpadding="0">
	<tr>
		<th style="width: 12%">Adresas</th>
        <th style="width: 12%">Skolininko vardas, pavardė</th>
{#        <th>Klientas</th>#}
        <th>Paskutinio mokėjimo data</th>
        <th class="r">Pagrindinės skolos (kredito) suma</th>
        <th class="r">Pradelstų mokėti palūkanų suma</th>
        <th class="r">Delspinigių suma</th>
        <th class="r">Skolininko tel. nr.</th>
        <th class="r">El. pašto adresas</th>
        <th class="r">Dienų skaičius</th>
	</tr>
    {% for fine in fines %}
	<tr>
		<td style="width: 12%">{{ fine.apartment_no}}</td>
        <td style="width: 12%">{{ fine.client }}</td>
{#        <td>{{ apartment.client }}</td>#}
        <td>{{ fine.last_payment_date }}</td>
        <td class="r">{{ fine.credit_to_pay }}</td>
        <td class="r">{{ fine.interest_to_pay }}</td>
        <td class="r">{{ fine.fine }}</td>
        <td class="r">{{ apartment.total_to_pay }}</td>
        <td class="r">{{ fine.last_payment }}</td>
        <td class="r">{{ fine.days_late }}</td>
	</tr>
    {% endfor %}
</table>
<table style="width: 100%">
    <tr style="">
        <td style="width: 7%"><h4>Direktorius</h4></td>
        <td><h4>{{ request.user.userextended.ceo }}</h4></td>
    </tr>
    <tr>
        <td style="width: 7%"><h4>Renovacijos finansų administratorė</h4></td>
        <td><h4>{{ request.user.userextended.full_name }}</h4></td>
    </tr>
</table>
</body>
</html>