{% extends 'base.html' %}
{% block content %}
	<div class="col-lg-12 container-fluid">
		{% include 'loan_actions.html' %}
        {% include 'messages.html' %}
	    <div class="col-lg-10 col-lg-offset-1">
	    <h2 class="">{{ object.contract_no }}</h2>
        <h3>
            <a target="_blank" href="{% url 'repayment_schedule' object.pk %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-calendar"></span> Grąžinimo grafikas</a>
            {% if object.building and not object.is_split %}<a href="{% url 'split_loan' object.pk %}?next={{ request.META.HTTP_REFERER }}"
                                       class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-th"></span> Išskaidyti paskolą</a>{% endif %}
            <a href="{% url 'update_loan' object.pk %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-edit"></span> Redaguoti</a>
        </h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
		    	<div class="panel-heading" role="tab" id="headingOne">
		      		<h4 class="panel-title">
		        		<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          			Bendra informacija
		        		</a>
		      		</h4>
		    	</div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		     	<div class="panel-body">
			     	<div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Kodas</th>
			        				<td>{{ object.contract_no }}</td>
			        			</tr>
			        			<tr>
			        				<th>Pastatas</th>
			        				<td>{% if object.building %}<a href="{% url 'building_detail' object.building.pk %}">{{ object.building }}</a>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Suma</th>
			        				<td>{{ object.loan_sum }}</td>
			        			</tr>
			        			<tr>
			        				<th>Valiuta</th>
			        				<td>{{ object.currency }}</td>
			        			</tr>
			        			<tr>
			        				<th>Galioja nuo</th>
			        				<td>{{ object.valid_from }}</td>
			        			</tr>
                                <tr>
			        				<th>Sudaryta</th>
			        				<td>{{ object.created_at }}</td>
			        			</tr>
{#			        			<tr>#}
{#			        				<th>Paskola</th>#}
{#			        				<td>{% if object.loans %}<a href="{% url 'loan_detail' object.loans.pk %}">{{ object.loans }}</a>{% endif %}</td>#}
{#			        			</tr>#}
			        		</tbody>
			        	</table>
			        </div>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Tipas</th>
			        				<td>{{ object.loan_type }}</td>
			        			</tr>
			        			<tr>
			        				<th>Butas</th>
			        				<td>{% if object.apartment %}<a href="{% url 'apartment_detail' object.apartment.pk %}">{{ object.apartment }}</a>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Palūkanų norma</th>
			        				<td>{{ object.interest_rate }}</td>
			        			</tr>
			        			<tr>
			        				<th>Atidėjimas mėn.</th>
			        				<td>{{ object.postponed_months|default_if_none:"" }}</td>
			        			</tr>
			        			<tr>
			        				<th>Galioja iki</th>
			        				<td>{{ object.valid_to }}</td>
			        			</tr>
			        			<tr>
			        				<th>Aprašymas</th>
			        				<td>{{ object.description }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <h5 class="page-header col-lg-12">Nustatymai</h5>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Atidėtos palūkanos</th>
			        				<td>{% if object.accrued_interest %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Mokėjimo diena</th>
			        				<td>{{ object.payment_day }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
                                <tr>
			        				<th>Skaičiuoti delspinigius</th>
			        				<td>{% if object.calculate_fine %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Palūkanos skaičiuojamos</th>
			        				<td>{{ object.days_interest_is_payable }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <h5 class="page-header col-lg-12">Papildoma informacija</h5>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Mėnesinis mokėjimas</th>
			        				<td>{{ monthly_payment }}</td>
			        			</tr>
			        			<tr>
			        				<th>Paskolos likutis</th>
			        				<td>{{ outstanding_loan_balance }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Periodų skaičius</th>
			        				<td>{{ object.number_of_periods }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
		      	</div>
		    </div>

		    <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Kredito mokėjimo grafikas
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <table class="table table-striped table-hover tablesorter table-condensed">
                            <thead>
                                <tr>
                                    <th>Grąžinimo data</th>
                                    <th>Grąžinimo suma, EUR</th>
                                    <th>Palūkanos, EUR</th>
                                    <th>Mokėtina suma, EUR</th>
                                    <th>Kredito likutis, EUR</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in schedule %}
                                    <tr>
                                        <td>{{ item.0 }}</td>
                                        <td>{{ item.4 }}</td>
                                        <td>{{ item.2 }}</td>
                                        <td>{{ item.3 }}</td>
                                        <td>{{ item.1 }}</td>
                                    </tr>
                                {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>{{ total_interest }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock %}