{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/loan_list.js' %}"></script>
<script>
$(function() {
    var availableTags = {{ buildings | safe }};
    $( "#apartment__building__name__icontains" ).autocomplete({
        source: function (requestObj, responseFunc) {
            var matchArry = availableTags.slice (); //-- Copy the array
            var srchTerms = $.trim (requestObj.term).split (/\s+/);

            //--- For each search term, remove non-matches.
            $.each (srchTerms, function (J, term) {
                var regX = new RegExp(term, "i");
                matchArry = $.map (matchArry, function (item) {
                    return regX.test (item) ? item : null;
                });
            });
                responseFunc (matchArry);
            }
    });
});
</script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'loan_actions.html' %}
		{% include 'messages.html' %}
		<div class="panel panel-default col-lg-12">
			<h2 class="new-building-title page-header">Paskolų sąrašas</h2>
            <form class="form-inline filter-form" method="get" action="">
			  	<div class="form-group">
			    	<input type="text" class="form-control" id="apartment__building__name__icontains" name="apartment__building__name__icontains"
                           value="{{ request.GET.apartment__building__name__icontains }}" placeholder="Pastatas">
			 	</div>
			 	<button type="submit" class="btn btn-default">Filtruoti</button>
                <button type="submit" class="btn btn-default clear-parameters">Anuliuoti</button>
            </form>
		    <table class="table table-striped table-hover tablesorter table-condensed">
		    	<thead>
			    	<tr>
			    		<th>Sutarties Nr.</th>
			    		<th>Butas</th>
			    		<th>Pastatas</th>
			    		<th>Suma</th>
                        <th>Likutis</th>
			    		<th>Valiuta</th>
			    		<th>Galioja nuo</th>
			    		<th>Galioja iki</th>
			    		<th>Mokėjimo diena</th>
			    		<th>Įvedė</th>
			    	</tr>
		    	</thead>
		    	<tbody>
			        {% for loan in object_list %}
			        	<tr class='clickable-row' data-href='/loans/{{ loan.pk }}'>
			            	<td>{{ loan.contract_no }}</td>
			            	<td>{% if loan.apartment %}{{ loan.apartment }}{% endif %}</td>
			            	<td>{% if loan.building %}{{ loan.building }}{% endif %}</td>
			            	<td>{{ loan.loan_sum }}</td>
                            <td>{{ loan.outstanding_loan_balance }}</td>
			            	<td>{{ loan.currency }}</td>
			            	<td>{{ loan.valid_from }}</td>
			            	<td>{{ loan.valid_to }}</td>
			            	<td>{{ loan.payment_day}}</td>
			            	<td>{{ loan.added_by|default_if_none:"" }}</td>
			        		<td class="text-right">
                                <a href="{% url 'update_loan' loan.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                {% csrf_token %}
                                <form id="delete-form{{ loan.pk }}" action="{% url 'delete_loan' loan.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                    <a href="#" data-toggle="modal" data-target="#myModal{{ loan.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                </form>
                            </td>
			            </tr>

                        <div class="modal fade" id="myModal{{ loan.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti paskolą {{ loan.contract_no }}?</h4>
                                    </div>
                                    <div class="modal-body">
                                        Kartu bus ištrinti visi susiję duomenys (sąskaitos, mokėjimai)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                        <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ loan.pk }}").submit();'>Patvirtinti</button>
                                    </div>
                                </div>
                            </div>
                        </div>
			        {% endfor %}
		        </tbody>
		    </table>
            <nav class="text-center">
                <ul class="pagination">
                    <li {% if not object_list.has_previous %}class="disabled"{% endif %}>
                        <a {% if object_list.has_previous %}href="?page={{ object_list.previous_page_number }}&apartment__building__name__icontains={{ request.GET.apartment__building__name__icontains }}"{% else %}
                               disabled="disabled{% endif %} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in object_list.paginator.page_range %}
                        {% if page <= object_list.number|add:'2' and page >= object_list.number|add:'-2' %}
                            <li {% if object_list.number == page %}class="active"{% endif %}>
                                <a  href="?page={{ page }}&apartment__building__name__icontains={{ request.GET.apartment__building__name__icontains }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li {% if not object_list.has_next %}class="disabled"{% endif %}>
                        <a {% if object_list.has_next %}href="?page={{ object_list.next_page_number }}&apartment_building__name__icontains={{ request.GET.apartment_building__name__icontains }}"{% else %}
                           disabled="disabled"{% endif %} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
		</div>
    </div>
{% endblock %}