{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'js/loan_management.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-lg-12">
    {% if new_apartment %}
    <div class="alert alert-success col-lg-10 col-lg-offset-1" role="alert">
        <strong>Sujungtas butas: <a href="{% url 'apartment_detail' new_apartment.pk %}">{{ new_apartment.code }}</a></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="col-lg-3">
        <ul class="nav nav-tabs nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="#join" aria-controls="join" role="tab" data-toggle="tab">Apjungimas</a></li>
{#            <li role="presentation"><a href="#separate" aria-controls="separate" role="tab" data-toggle="tab">Skaidymas</a></li>#}
        </ul>
    </div>
    <div class="col-lg-9">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="join">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Paskolų apjungimas</h3>
                    </div>
                    <div class="panel-body">
                        <form id="loan-join-form" action="" method="post">
                            <input hidden name="action" value="join">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
                                        <option value="">Pasirinkite butą</option>
                                        {% for apartment in apartments %}
                                            <option value="{{ apartment.pk }}">{{ apartment }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group" id="loan-select">
                                    <select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
                                        <option value="">Pasirinkite butą</option>
                                        {% for apartment in apartments%}
                                            <option value="{{ apartment.pk }}">{{ apartment }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-warning" id="add-selects"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <div class="col-lg-8">
{#                                <div class="form-group row">#}
{#                                    <label for="contract_no" class="col-lg-2 control-label">Sutarties nr.<span class="asterisk">*</span></label>#}
{#                                    <div class="col-lg-4 form-group">#}
{#                                        <input class="form-control" id="contract_no" name="contract_no" placeholder="Sutarties nr." required>#}
{#                                    </div>#}
{#                                    <label for="apartment" class="col-lg-2 control-label">Butas</label>#}
{#                                    <div class="col-lg-4 form-group">#}
{#                                        <select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">#}
{#                                            <option value="">Pasirinkite</option>#}
{#                                            {% for apartment in apartments %}#}
{#                                                <option value="{{ apartment.pk }}">{{ apartment.code }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="form-group row">
                                    <label for="valid_from" class="col-lg-2 control-label">Galioja nuo<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="valid_from" name="valid_from" required>
                                    </div>
                                    <label for="valid_to" class="col-lg-2 control-label">Galioja iki<span class="asterisk">*</span></label>
                                    <div class="col-lg-4 form-group">
                                        <input class="form-control datepicker" id="valid_to" name="valid_to" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" class="btn btn-primary col-lg-6 col-lg-offset-3">Sujungti</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="separate">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Paskolų skaidymas</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="loan-separate-form" action="" method="post">
                            <input hidden name="action" value="separate">
                            <div class="col-lg-12">
                                <div class="col-lg-4 col-lg-offset-1">
                                    <div class="form-group">
                                        <select class="form-control selectpicker" id="loan" name="loan" data-live-search="true">
                                            <option value="">Pasirinkite paskolą</option>
                                            {% for loan in loans %}
                                                <option value="{{ loan.pk }}">{{ loan.apartment }} | {{ loan.contract_no }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-10 col-lg-offset-1">
                                <div class="well well-lg">
                                    <div class="form-group">
                                        <label for="contract_no" class="col-lg-2 control-label">Sutarties nr.<span class="asterisk">*</span></label>
                                        <div class="col-lg-4 form-group">
                                            <input class="form-control" id="contract_no" name="contract_no" placeholder="Sutarties nr." required>
                                        </div>
                                        <label for="apartment" class="col-lg-2 control-label">Butas</label>
                                        <div class="col-lg-4 form-group">
                                            <select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
                                                <option value="">Pasirinkite</option>
                                                {% for apartment in apartments %}
                                                    <option value="{{ apartment.pk }}">{{ apartment.code }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="valid_from" class="col-lg-2 control-label">Galioja nuo<span class="asterisk">*</span></label>
                                        <div class="col-lg-4 form-group">
                                            <input class="form-control datepicker" id="valid_from" name="valid_from" required>
                                        </div>
                                        <label for="valid_to" class="col-lg-2 control-label">Galioja iki<span class="asterisk">*</span></label>
                                        <div class="col-lg-4 form-group">
                                            <input class="form-control datepicker" id="valid_to" name="valid_to" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-10 col-lg-offset-1">
                                <div class="well well-lg">
                                    <div class="form-group">
                                        <label for="contract_no" class="col-lg-2 control-label">Sutarties nr.<span class="asterisk">*</span></label>
                                        <div class="col-lg-4 form-group">
                                            <input class="form-control" id="contract_no" name="contract_no" placeholder="Sutarties nr." required>
                                        </div>
                                        <label for="apartment" class="col-lg-2 control-label">Butas</label>
                                        <div class="col-lg-4 form-group">
                                            <select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
                                                <option value="">Pasirinkite</option>
                                                {% for apartment in apartments %}
                                                    <option value="{{ apartment.pk }}">{{ apartment.code }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="valid_from" class="col-lg-2 control-label">Galioja nuo<span class="asterisk">*</span></label>
                                        <div class="col-lg-4 form-group">
                                            <input class="form-control datepicker" id="valid_from" name="valid_from" required>
                                        </div>
                                        <label for="valid_to" class="col-lg-2 control-label">Galioja iki<span class="asterisk">*</span></label>
                                        <div class="col-lg-4 form-group">
                                            <input class="form-control datepicker" id="valid_to" name="valid_to" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <button type="submit" class="btn btn-primary col-lg-6 col-lg-offset-3">Skaidyti</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
