{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/paper/bootstrap.min.css">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    </head>
    <body >
        <div class="vertical-center">
            <div class="container col-lg-4">
                <form class="form-signin" action="{% url 'login_user' %}" method="post">
                    <h2 class="form-signin-heading">Project</h2>
                    <div class="form-group">
                        <label for="username" class="sr-only">Vartotojo vardas</label>
                        <input name="username" id="username" class="form-control" placeholder="Vartotojo vardas" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Slaptažodis</label>
                        <input name="password" type="password" id="password" class="form-control" placeholder="Slaptažodis" required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Prisijungti</button>
                </form>
            </div>
        </div>
    </body>
</html>