{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success col-lg-10 col-lg-offset-1" role="alert"><strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}