{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<!-- <link href="{% static 'css/new_client.css' %}" rel="stylesheet"> -->
	<script src="{% static 'js/new_bill.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'bill_actions.html' %}

		<div class="row col-lg-10 col-lg-offset-1 panel panel-default">
			<h2 class="new-building-title page-header">Nauja Sąskaita</h2>
			{% csrf_token %}
			<form class="form-horizontal building-form" action="{% url 'new_bill' %}?next={{ request.META.HTTP_REFERER }}" method="post">
	  			<div class="form-group row">
	    			<label for="bill_no" class="col-lg-2 control-label">Sąskaitos Nr. <span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="bill_no" name="bill_no" placeholder="Sąskaitos Nr." required>
					</div>
					<label for="building" class="col-lg-2 control-label">Pastatas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="building" name="building" data-live-search="true">
	  						<option value="">Pasirinkite</option>
	  						{% for building in buildings %}
	  							<option value="{{ building.pk }}">{{ building.name }}</option>
	  						{% endfor %}
	  					</select>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="apartment" class="col-lg-2 control-label">Butas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
	  						<option value="">Pasirinkite</option>
	  						{% for apartment in apartments %}
	  							<option value="{{ apartment.pk }}">{{ apartment.code }}</option>
	  						{% endfor %}
	  					</select>
					</div>
					<label for="client" class="col-lg-2 control-label">Klientas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="client" name="client" data-live-search="true">
		  					<option value="">Pasirinkite</option>
		  					{% for client in clients %}
	  							<option value="{{ client.pk }}">{{ client.name }}</option>
	  						{% endfor %}	
  						</select>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="from_date" class="col-lg-2 control-label">Nuo<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control datepicker" id="from_date" name="from_date" required>
					</div>
					<label for="to-date" class="col-lg-2 control-label">Iki<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control datepicker" id="to_date" name="to_date" required>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="sent" class="col-lg-2 control-label">Išsiųsta</label>
					<div class="col-lg-4 form-group">
	  					<input type="checkbox" class="form-control" id="sent" name="sent">
					</div>
                    <label for="note" class="col-lg-2 control-label">Pastaba</label>
					<div class="col-lg-4 form-group">
	  					<textarea class="form-control" id="note" name="note" rows="3"></textarea>
					</div>
                </div>
	  			<div class="col-lg-6">
  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>	
	  			</div>	  			
			</form>
			
  			<div class="col-lg-6">
  				<button class="btn btn-default btn-lg btn-block new-building-button new-building-cancel" onclick="location.href='{{ request.META.HTTP_REFERER }}'">Atšaukti</button>
  			</div>	
		</div>
	</div>
{% endblock %}