{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<!-- <link href="{% static 'css/new_client.css' %}" rel="stylesheet"> -->
	<script src="{% static 'js/new_payment.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'payment_actions.html' %}

		<div class="row col-lg-10 col-lg-offset-1 panel panel-default">
			<h2 class="new-building-title page-header">Naujas mokėjimas</h2>
			{% csrf_token %}
			<form class="form-horizontal building-form" action="{% url 'new_payment' %}?next={{ request.META.HTTP_REFERER }}" method="post">
	  			<div class="form-group row">
	    			<label for="name" class="col-lg-2 control-label">Pavadinimas <span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="name" name="name" placeholder="Pavadinimas" required>
					</div>
					<label for="apartment" class="col-lg-2 control-label">Butas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
	  						<option value="">Pasirinkite</option>
	  						{% for apartment in apartments %}
	  							<option value="{{ apartment.pk }}">{{ apartment.code }}</option>
	  						{% endfor %}
	  					</select>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="payment_date" class="col-lg-2 control-label">Mokėjimo data <span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control datepicker" id="payment_date" name="payment_date" required>
					</div>
					<label for="payment_type" class="col-lg-2 control-label">Tipas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="payment_type" name="payment_type">
                            <option value="4">Automatinis</option>
	  						<option value="0">Investicijų grąža</option>
	  						<option value="1">Palūkanos</option>
	  						<option value="2">Išankstinis kredito grąžinimas</option>
                            <option value="3">Delspinigiai</option>
                            <option value="5">Kompensacija</option>
                            <option value="6">Permokėta</option>
                            <option value="7">Pirminis kredito grąžinimas</option>
	  					</select>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="payment_sum" class="col-lg-2 control-label">Suma<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="payment_sum" name="payment_sum" placeholder="Suma">
					</div>
					<label for="currency" class="col-lg-2 control-label">Valiuta<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="currency" name="currency" value="EUR" required>
					</div>
	  			</div>  			  			
	  			<div class="col-lg-6">
  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>	
	  			</div>	  			
			</form>
			
  			<div class="col-lg-6">
  				<button class="btn btn-default btn-lg btn-block new-building-button new-building-cancel" onclick="location.href='{{ request.META.HTTP_REFERER }}'">Atšaukti</button>
  			</div>	
		</div>
	</div>
{% endblock %}