{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/new_loan.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'loan_actions.html' %}
		<div class="row col-lg-10 col-lg-offset-1 panel panel-default">
			<h2 class="new-building-title page-header">Nauja paskola</h2>
            {{ form }}
			{% csrf_token %}
			<form class="form-horizontal building-form" action="{% url 'new_loan' %}?next={{ request.META.HTTP_REFERER }}" method="post">
				<div class="form-group row">
					<label for="accrued_interest" class="col-lg-2 control-label">Atidėtos palūkanos</label>
					<div class="col-lg-4 form-group">
	  					<input type="checkbox" class="form-control" id="accrued_interest" name="accrued_interest">
					</div>
				</div>
	  			<div class="form-group row">
	    			<label for="contract_no" class="col-lg-2 control-label">Sutarties nr.<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="contract_no" name="contract_no" placeholder="Sutarties nr." required>
					</div>
					<label for="loan_type" class="col-lg-2 control-label">Tipas<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control" id="loan_type" name="loan_type" required>
		  					<option value="Linijinis">Linijinis</option>
		  					<option value="Anuiteto">Anuiteto</option>
	  					</select>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="building" class="col-lg-2 control-label">Namas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="building" name="building" data-live-search="true">
	  						<option value="">Pasirinkite</option>
	  						{% for building in buildings %}
	  							<option value="{{ building.pk }}">{{ building.name }}</option>
	  						{% endfor %}
	  					</select>
					</div>
					<label for="apartment" class="col-lg-2 control-label">Butas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="apartment" name="apartment" data-live-search="true">
		  					<option value="">Pasirinkite</option>
		  					{% for apartment in apartments %}
	  							<option value="{{ apartment.pk }}">{{ apartment.code }}</option>
	  						{% endfor %}	
  						</select>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="loan_sum2" class="col-lg-2 control-label">Suma<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="loan_sum2" name="loan_sum2"required value="0,00">
					</div>
					<label for="interest_rate" class="col-lg-2 control-label">Palūkanų norma<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="interest_rate" name="interest_rate" value="3,00" required>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="currency" class="col-lg-2 control-label">Valiuta<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="currency" name="currency" placeholder="Valiuta" value="EUR" required>
					</div>
					<label for="postponed_months" class="col-lg-2 control-label">Atidėjimas mėn.</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="postponed_months" name="postponed_months" placeholder="Atidėjimas mėn." value="0">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="valid_from" class="col-lg-2 control-label">Galioja nuo<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control datepicker" id="valid_from" name="valid_from" required>
					</div>
					<label for="valid_to" class="col-lg-2 control-label">Galioja iki<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control datepicker" id="valid_to" name="valid_to" required>
					</div>
	  			</div>
	  			<div class="form-group row">
{#	    			<label for="loans" class="col-lg-2 control-label">Paskola</label>#}
{#					<div class="col-lg-4 form-group">#}
{#	  					<select class="form-control selectpicker" id="loans" name="loans" data-live-search="true">#}
{#		  					<option value="">Pasirinkite</option>#}
{#		  					{% for loan in loans %}#}
{#	  							<option value="{{ loan.pk }}">{{ loan.contract_no }}</option>#}
{#	  						{% endfor %}	#}
{#  						</select>#}
{#					</div>#}
                    <label for="created_at" class="col-lg-2 control-label">Sudaryta<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control datepicker" id="created_at" name="created_at" required>
					</div>
					<label for="description" class="col-lg-2 control-label">Aprašymas</label>
					<div class="col-lg-4 form-group">
	  					<textarea class="form-control" id="description" name="description" rows="3"></textarea>
					</div>
	  			</div>
	  			<h4 class="page-header">Nustatymai</h4>
{#	  			<div class="form-group row">#}
{#					<label for="calculate_from_outstanding_shares" class="col-lg-2 control-label">Skaičiuoti nuo negrąžintos dalies<span class="asterisk">*</span></label>#}
{#					<div class="col-lg-4 form-group">#}
{#	  					<input type="checkbox" class="form-control" id="calculate_from_outstanding_shares" name="calculate_from_outstanding_shares" checked required>#}
{#					</div>#}
{#	  			</div>#}
	  			<div class="form-group row">
	    			<label for="payment_day" class="col-lg-2 control-label">Mokėjimo diena<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="payment_day" name="payment_day" placeholder="Mokėjimo diena" required>
					</div>
					<label for="days_interest_is_payable" class="col-lg-2 control-label">Palūkanos skaičiuojamos<span class="asterisk" required>*</span></label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control" id="days_interest_is_payable" name="days_interest_is_payable">
		  					<option value="365">365 dienas per metus</option>	
		  					<option value="360">360 dienų per metus</option>
  						</select>
					</div>
	  			</div>
{#	  			<div class="form-group row">#}
{#	    			<label for="loan_repayment_day" class="col-lg-2 control-label">Paskolos dengimo diena</label>#}
{#					<div class="col-lg-4 form-group">#}
{#	  					<input class="form-control" id="loan_repayment_day" name="loan_repayment_day" placeholder="Paskolos dengimo diena">#}
{#					</div>#}
{#					<label for="combined" class="col-lg-2 control-label">Apjungianti</label>#}
{#					<div class="col-lg-4 form-group">#}
{#	  					<input type="checkbox" class="form-control" id="combined" name="combined">#}
{#					</div>#}
{#	  			</div>#}
	  			<div class="form-group row">
	    			<label for="calculate_fine" class="col-lg-2 control-label">Skaičiuoti delspinigius<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input type="checkbox" class="form-control" id="calculate_fine" name="calculate_fine" checked required>
					</div>
	  			</div>
	  			
	  			<div class="col-lg-6">
	  				<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>	
	  			</div>
			</form>
			
  			<div class="col-lg-6">
  				<button class="btn btn-default btn-lg btn-block new-building-button new-building-cancel" onclick="location.href='{{ request.META.HTTP_REFERER }}'">Atšaukti</button>
  			</div>	
		</div>
	</div>
{% endblock %}