{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<!-- <link href="{% static 'css/new_client.css' %}" rel="stylesheet"> -->
	<script src="{% static 'js/new_apartment.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'apartment_actions.html' %}

		<div class="row col-lg-10 col-lg-offset-1 panel panel-default">
			<h2 class="new-building-title page-header">Naujas Butas</h2>
			{% csrf_token %}
			<form class="form-horizontal building-form" action="{% url 'new_apartment' %}?next={{ request.META.HTTP_REFERER }}" method="post">
	  			<div class="form-group row">
	    			<label for="code" class="col-lg-2 control-label">Kodas <span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="code" name="code" placeholder="Kodas" required>
					</div>
					<label for="building" class="col-lg-2 control-label">Pastatas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="building" name="building" data-live-search="true">
	  						<option value="">Pasirinkite</option>
	  						{% for building in buildings %}
	  							<option value="{{ building.pk }}">{{ building.name }}</option>
	  						{% endfor %}
	  					</select>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="apartment_no" class="col-lg-2 control-label">Buto nr.</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="apartment_no" name="apartment_no" placeholder="Buto nr.">
					</div>
					<label for="client" class="col-lg-2 control-label">Klientas</label>
					<div class="col-lg-4 form-group">
	  					<select class="form-control selectpicker" id="client" name="client" data-live-search="true">
		  					<option value="">Pasirinkite</option>
		  					{% for client in clients %}
	  							<option value="{{ client.pk }}">{{ client.name }}</option>
	  						{% endfor %}	
  						</select>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="area" class="col-lg-2 control-label">Plotas<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="area" name="area" placeholder="Plotas">
					</div>
					<label for="own_funds" class="col-lg-2 control-label">Nuosavos lėšos</label>
					<div class="col-lg-4 form-group">
	  					<input type="checkbox" class="form-control" id="own_funds" name="own_funds">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="floor" class="col-lg-2 control-label">Aukštas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="floor" name="floor" placeholder="Aukštas">
					</div>
					<label for="description" class="col-lg-2 control-label">Aprašymas</label>
					<div class="col-lg-4 form-group">
	  					<textarea class="form-control" id="description" name="description" rows="3"></textarea>
					</div>
	  			</div>	  			  			
	  			<div class="col-lg-6">
  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>	
	  			</div>	  			
			</form>
			
  			<div class="col-lg-6">
  				<button class="btn btn-default btn-lg btn-block new-building-button new-building-cancel" onclick="location.href='/apartments/'">Atšaukti</button>	
  			</div>	
		</div>
	</div>
{% endblock %}