{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/payment_list.js' %}"></script>
<script>
$(function() {
    var availableTags = {{ apartments | safe }};
    $( "#apartment__code__icontains" ).autocomplete({
        source: function (requestObj, responseFunc) {
            var matchArry = availableTags.slice (); //-- Copy the array
            var srchTerms = $.trim (requestObj.term).split (/\s+/);

            $.each (srchTerms, function (J, term) {
                var regX = new RegExp(term, "i");
                matchArry = $.map (matchArry, function (item) {
                    return regX.test (item) ? item : null;
                });
            });
                responseFunc (matchArry);
            }
    });
});

$(function() {
    var availableTags = {{ buildings | safe }};
    $( "#apartment__building__name__icontains" ).autocomplete({
        source: function (requestObj, responseFunc) {
            var matchArry = availableTags.slice ();
            var srchTerms = $.trim (requestObj.term).split (/\s+/);

            $.each (srchTerms, function (J, term) {
                var regX = new RegExp(term, "i");
                matchArry = $.map (matchArry, function (item) {
                    return regX.test (item) ? item : null;
                });
            });
                responseFunc (matchArry);
            }
    });
});
</script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'payment_actions.html' %}
		{% include 'messages.html' %}
		<div class="panel panel-default col-lg-12">
			<h2 class="new-building-title page-header">Mokėjimų sąrašas</h2>
            <form class="form-inline filter-form" method="get" action="">
			  	<div class="form-group">
                    <input type="text" class="form-control" id="apartment__building__name__icontains"
                           name="apartment__building__name__icontains"
                           value="{{ request.GET.apartment__building__name__icontains }}" placeholder="Pastatas">
			    	<input type="text" class="form-control" id="apartment__code__icontains"
                           name="apartment__code__icontains"
                           value="{{ request.GET.apartment__code__icontains }}" placeholder="Butas">
                    <input type="text" class="form-control datepicker" id="payment_date__gt" placeholder="Nuo"
                           name="payment_date__gt" value="{{ request.GET.payment_date__gt }}">
                    <input type="text" class="form-control datepicker" id="payment_date__lt" placeholder="Iki"
                           name="payment_date__lt" value="{{ request.GET.payment_date__lt }}">
			 	</div>
			 	<button type="submit" class="btn btn-default">Filtruoti</button>
                <button type="submit" class="btn btn-default clear-parameters">Anuliuoti</button>
            </form>
            <div class="col-lg-6 row">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Viso palūkanų, EUR</th>
                            <th>Viso investicijų grąža, EUR</th>
                            <th>Viso, EUR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ total_interest }}</th>
                            <th>{{ total_repayment }}</th>
                            <th>{{ total_sum }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="table table-striped table-hover tablesorter table-condensed">
		    	<thead>
			    	<tr>
			    		<th>Pavadinimas</th>
			    		<th>Mokėjimo data</th>
			    		<th>Butas</th>
			    		<th>Tipas</th>
			    		<th>Suma</th>
			    		<th>Valiuta</th>
			    		<th>Įvedė</th>
			    	</tr>
		    	</thead>
		    	<tbody>
			        {% for payment in object_list %}
			        	<tr class='clickable-row' data-href='/payments/{{ payment.pk }}'>
			            	<td>{{ payment.name }}</td>
			            	<td>{{ payment.payment_date }}</td>
			            	<td>{% if payment.apartment %}{{ payment.apartment }}{% endif %}</td>
			            	<td>{% if payment.payment_type == '0' %}Investicijų grąža{% elif payment.payment_type == '1' %}Palūkanos{% elif payment.payment_type == '2' %}Išankstinis kredito grąžinimas{% elif payment.payment_type == '3' %}Delspinigiai{% elif payment.payment_type == '5' %}Kompensacija{% endif %}</td>
			            	<td>{% if payment.payment_sum %}{{ payment.payment_sum }}{% endif %}</td>
			            	<td>{{ payment.currency }}</td>
			            	<td>{{ payment.added_by }}</td>
			        		<td class="text-right">
                                <a href="{% url 'update_payment' payment.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                                {% csrf_token %}
                                <form id="delete-form{{ payment.pk }}" action="{% url 'delete_payment' payment.pk %}?next={{ request.path }}" method="post" style=" display:inline!important;">
                                    <a href="#" data-toggle="modal" data-target="#myModal{{ payment.pk }}"><span class="glyphicon glyphicon-trash"></span></a>
                                </form>
                            </td>
			            </tr>

                        <div class="modal fade" id="myModal{{ payment.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ar tikrai norite ištrinti mokėjimą {{ payment.name}}?</h4>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                        <button type="button" class="btn btn-primary" onclick='$("#delete-form{{ payment.pk }}").submit();'>Patvirtinti</button>
                                    </div>
                                </div>
                            </div>
                        </div>
			        {% endfor %}
		        </tbody>
		    </table>
            <nav class="text-center">
                <ul class="pagination">
                    <li {% if not object_list.has_previous %}class="disabled"{% endif %}>
                        <a {% if object_list.has_previous %}href="?page={{ object_list.previous_page_number }}&apartment__code__icontains={{ request.GET.apartment__code__icontains }}&payment_date__gt={{ request.GET.payment_date__gt }}&payment_date__lt={{ request.GET.payment_date__lt }}"
                           {% else %}disabled="disabled"{% endif %} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in object_list.paginator.page_range %}
                        {% if page <= object_list.number|add:'2' and page >= object_list.number|add:'-2' %}
                        <li {% if object_list.number == page %}class="active"{% endif %}>
                            <a  href="?page={{ page }}&apartment__code__icontains={{ request.GET.apartment__code__icontains }}&payment_date__gt={{ request.GET.payment_date__gt }}&payment_date__lt={{ request.GET.payment_date__lt }}">{{ page }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li {% if not object_list.has_next %}class="disabled"{% endif %}>
                        <a {% if object_list.has_next %}href="?page={{ object_list.next_page_number }}&apartment__code__icontains={{ request.GET.apartment__code__icontains }}&payment_date__gt={{ request.GET.payment_date__gt }}&payment_date__lt={{ request.GET.payment_date__lt }}"
                           {% else %}disabled="disabled"{% endif %} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
		</div>
    </div>
{% endblock %}