{% extends 'base.html' %}
{% block content %}
<div class="col-lg-12">
	{% include 'payment_actions.html' %}
    {% include 'messages.html' %}
    <div class="col-lg-10 col-lg-offset-1">
	    <h2 class="">{{ object.name }}
            <a href="{% url 'update_payment' object.pk %}" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-edit"></span> Redaguoti</a>
        </h2>
	    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
		    	<div class="panel-heading" role="tab" id="headingOne">
		      		<h4 class="panel-title">
		        		<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          			Bendra informacija
		        		</a>
		      		</h4>
		    	</div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		     	<div class="panel-body">
			     	<div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Pavadinimas</th>
			        				<td>{{ object.name }}</td>
			        			</tr>
			        			<tr>
			        				<th>Mokėjimo data</th>
			        				<td>{{ object.payment_date }}</td>
			        			</tr>
			        			<tr>
			        				<th>Suma</th>
			        				<td>{% if object.payment_sum %}{{ object.payment_sum }}{% endif %}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <div class="col-lg-6">
			        	<table class="table">
			        		<tbody>
			        			<tr>
			        				<th>Butas</th>
			        				<td>{% if object.apartment %}<a href="{% url 'apartment_detail' object.apartment.pk %}">{{ object.apartment}}</a>{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Tipas</th>
			        				<td>{% if payment.payment_type == '0' %}Investicijų grąža{% elif payment.payment_type == '1' %}Palūkanos{% elif payment.payment_type == '2' %}Išankstinis kredito grąžinimas{% endif %}</td>
			        			</tr>
			        			<tr>
			        				<th>Valiuta</th>
			        				<td>{{ object.currency }}</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
		      	</div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}