{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}

{% endblock %}
{% block content %}
    <div class="col-lg-12">
        {% include 'messages.html' %}
        <div class="col-lg-10 col-lg-offset-1">
            <h2 class="">{{ object.full_name }}</h2>
            <h3>
                <a href="" class="btn btn-default" role="button"><span class="glyphicon glyphicon-edit"></span> Redaguoti</a>
            </h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Bendra informacija
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Vardas, pavardė</th>
                                            <td>{{ object.full_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Įmonės direktorius</th>
                                            <td>{{ object.ceo }}</td>
                                        </tr>
                                        <tr>
                                            <th>Įmonės rekvizitai</th>
                                            <td>{{ object.company_description }}</td>
                                        </tr>
                                        <tr>
                                            <th>Įmonės rekvizitai (trump.)</th>
                                            <td>{{ object.company_description_short }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Bankas</th>
                                            <td>{{ object.bank }}</td>
                                        </tr>
                                        <tr>
                                            <th>Banko sąskaita</th>
                                            <td>{{ object.bank_account }}</td>
                                        </tr>
                                        <tr>
                                            <th>Įmonės vieta</th>
                                            <td>{{ object.company_district }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}