<html>
<head>
<title>Kredito grąžinimo grafikas</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
html, body {
    margin: 0px;
    height: 100%;
    background: #FFFFFF;
}
body {
	font-family: Verdana;
	font-size: 6pt !important;
	text-align: justify;
}
table {
	border: 0px none;
    font-size: 5.5pt !important;
}
.value {
	padding-left: 10mm;
}
#reportcontrol {
	padding: 10px;
}
.b {
	font-weight:bold;
}
.s {
	width:10%;
}

.c {
	text-align: center;
}
.r {
	text-align: right;
}

.name {
	white-space: nowrap;
	vertical-align:text-top;
}

#header {

}

#logo {
	float: right;
	width: 120px;
	height: auto;
	margin-bottom: 20px;
}

#report_header {
	clear: both;
	width: 100%;
}

#report_header td {
	vertical-align:text-top;
}

#report {
{#	margin-top: 20px;#}
	width: 100%;

	border-spacing: 0;
	border-collapse: collapse;
	border-width: 1px 0 0 0;
}

#report th {
	margin: 0;
	padding: 3px 18px 3px 3px;
	border-width: 2px 0 2px 0;
	border-style: solid;
}

#report td {
	margin: 0;
	padding: 3px 18px 3px 3px;
	border-width: 0 0 1px 0;
	border-style: solid;
}

#footer td {
	border: 0px none;
}

#page_footer_consum {
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-collapse: collapse;
	border-style: solid;
}

#page_footer_consum td, #page_footer_consum th {
	margin: 0;
	padding: 4px;
	border-width: 1px 1px 0 0;
	border-style: solid;
}

#page_footer {
    page-break-inside: avoid;
}

#delimiter {
	border-top-width: 3px;
	border-top-color: #000099;
	border-top-style: solid;
	height: 10px;
}
#content {
	width: 100%;
	margin: 0;
	clear: both;

}
.overline {
	text-decoration:overline;
}
.justify {
	text-align: justify;
}
.report {
	margin: 10px 0 10px;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 1px 0 0 0;
    border-style: solid;
}
.report td {
	margin: 0;
	padding: 4px;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.pagebreak {
	page-break-before: always;
}

h1, h2 {
	text-align: center;
}

#specifications table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

#specifications table td {
	margin: 0px;
	border: 1px inset black;
}

#price {
	margin-left:3em;
	font-weight:bold;
}

#report_footer td {
	width: 50px;
}
#quate_img {
	width: 180px;
	height: 10px;
	text-align: center
}
#quate_img img {
	padding-top: 14px;
	width: 100%;
	height: auto;
}

.button {
    background-color: #ECF1F4;
    background-position: center top;
    background-repeat: repeat-x;

	border: 1px solid #ABC3D7;
    color: #000000;

    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    /*vertical-align: middle;*/

    font-size: 12px;
	font-weight: normal;
    font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
}

.button:hover {
    background-color: #4E8CCF;
    border-color: #4E8CCF;

    color: #fff;
	background-image: none;
	cursor:pointer;
	font-weight: normal;
}

@media print {
	#reportcontrol {
		display: none;
	}
}

#report .detail td, #report .detail th {
	padding-left: 15px;
    padding-right: 3px;
}

#footer.detail td {
	border-width: 2px 0 2px 0;
	border-style: solid;
}

.none {
	display: none;
}

.block {
	display: block;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.button {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

</style>

</head>
<body>
<A HREF="javascript:window.print()" class="no-print button">Spausdinti</A>
	<table id="report_header">
	<tr>
		<td colspan="2"><h2>Kredito grąžinimo grafikas</h2></td>
	</tr>
	<tr>
		<td width='50%'>Kredito gavėjas</td><td>{{ receiver }}</td>
	</tr>
	<tr>
		<td width='50%'>Sutarties Nr.</td><td>{{ contract_no }}</td>
	</tr>
	<tr>
		<td width='50%'>Laikotarpis</td><td>{{ valid }}</td>
	</tr>
	<tr>
		<td width='50%'>Kredito suma</td><td>{{ loan_sum }}</td>
	</tr>
	<tr>
		<td width='50%'>Palūkanų norma</td><td>{{ interest_rate }}</td>
	</tr>
</table><br>
<div>
    Gyventojai {{ reveicer }} mokėdami už kreditą Nr. {{ contract_no_single }}
    {{ request.user.userextended.company_description }}, namo kaupiamoji sąskaita {{ extra_requisites }}, mokėjimo pavedime būtina nurodyti: <br>
    <b>1) namo Nr., buto Nr., buto savininką;</b><br>
    <b>2) mokama palūkanų sumą EUR;</b><br>
    <b>3) mokama kredito sumą EUR.</b><br>
</div>
<table id="report" cellspacing="0" cellpadding="0">
	<tr>
		<th>Grąžinimo data</th>
        <th class="r">Grąžinama suma, EUR</th>
        <th class="r">Palūkanos, EUR</th>
        <th class="r">Mokėtina suma, EUR</th>
        <th class="r">Kredito likutis, EUR</th>
	</tr>
    {% for dates, credit_balance, interest, sum_to_pay, loan_repayment in schedule %}
	<tr>
		<td>{{ dates }}</td>
        <td class="r">{{ loan_repayment }}</td>
        <td class="r">{{ interest }}</td>
        <td class="r">{{ sum_to_pay }}</td>
        <td class="r">{{ credit_balance }}</td>
	</tr>
    {% endfor %}
    <tr id="footer">
		<td></td><td class="r">{{ total_repayment }}</td><td class="r">{{ total_interest }}</td><td class="r">{{ total_sum }}</td><td></td>
	</tr>
</table>
</body>
</html>