{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<link href="{% static 'css/new_client.css' %}" rel="stylesheet">
	<script src="{% static 'js/new_client.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'client_actions.html' %}

		<div class="row col-lg-10 col-lg-offset-1 panel panel-default">
			<h2 class="new-building-title page-header">Keičiamas klientas: {{ object.name }}</h2>
			{% csrf_token %}
			<form class="form-horizontal building-form" action="{% url 'update_client' object.pk %}?next={{ request.META.HTTP_REFERER }}" method="post">
	  			<div class="form-group row">
	    			<label for="name" class="col-lg-2 control-label">Pavadinimas <span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="name" name="name" placeholder="Pavadinimas" required value="{{ object.name }}">
					</div>
					<label for="code" class="col-lg-2 control-label">Kodas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="code" name="code" placeholder="Kodas" value="{{ object.code }}">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="client_type" class="col-lg-2 control-label">Tipas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="client_type" name="client_type" placeholder="Tipas" value="{{ object.client_type }}">
					</div>
					<label for="telephone" class="col-lg-2 control-label">Telefonas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="telephone" name="telephone" placeholder="Telefonas"  value="{{ object.telephone }}">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="email" class="col-lg-2 control-label">El. paštas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="email" name="email" placeholder="El. paštas" value="{{ object.email }}">
					</div>
					<label for="fax" class="col-lg-2 control-label">Faksas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="fax" name="fax" placeholder="Faksas" value="{{ object.fax }}">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="description" class="col-lg-2 control-label">Aprašymas</label>
					<div class="col-lg-4 form-group">
	  					<textarea class="form-control" id="description" name="description" rows="3">{{ object.description }}</textarea>
					</div>
	  			</div>
	  			<div class="panel panel-default col-lg-5 col-lg-offset-1 address-left">
			  		<div class="panel-heading">
				    	<h3 class="panel-title">Reg. adresas</h3>
			  		</div>
				  	<div class="panel-body">
				    	<label for="reg_street" class="col-lg-3 control-label">Gatvė</label>
						<div class="col-lg-9 form-group">
		  					<input class="form-control" id="reg_street" name="reg_street" placeholder="Gatvė" value="{{ object.reg_street }}">
						</div>
						<label for="reg_city" class="col-lg-3 control-label">Miestas</label>
						<div class="col-lg-9 form-group">
		  					<input class="form-control" id="reg_city" name="reg_city" placeholder="Miestas" value="{{ object.reg_city }}">
						</div>
						<label for="reg_post_code" class="col-lg-3 control-label">Pašto kodas</label>
						<div class="col-lg-9 form-group">
		  					<input class="form-control" id="reg_post_code" name="reg_post_code" placeholder="Pašto kodas" value="{{ object.reg_post_code }}">
						</div>
						<label for="reg_country" class="col-lg-3 control-label">Valstybė</label>
						<div class="col-lg-9 form-group">
		  					<input class="form-control" id="reg_country" name="reg_country" placeholder="Valstybė" value="{{ object.reg_country }}">
						</div>
				  	</div>
				</div>
				<div class="panel panel-default col-lg-5 col-lg-offset-1 address-right">
			  		<div class="panel-heading">
				    	<h3 class="panel-title">Koresp. adresas</h3>
			  		</div>
				  	<div class="panel-body">
				    	<label for="corr_street" class="col-lg-3 control-label">Gatvė</label>
						<div class="col-lg-9 form-group">
		  					<input class="form-control" id="corr_street" name="corr_street" placeholder="Gatvė" value="{{ object.corr_street }}">
						</div>
						<label for="corr_city" class="col-lg-3 control-label">Miestas</label>
						<div class="col-lg-9 form-group">
		  					<input class="form-control" id="corr_city" name="corr_city" placeholder="Miestas" value="{{ object.corr_city }}">
						</div>
						<label for="corr_post_code" class="col-lg-3 control-label">Pašto kodas</label>
						<div class="col-lg-9 form-group">
		  					<input class="form-control" id="corr_post_code" name="corr_post_code" placeholder="Pašto kodas" value="{{ object.corr_post_code }}">
						</div>
						<label for="corr_country" class="col-lg-3 control-label">Valstybė</label>
						<div class="col-lg-9 form-group">
		  					<input class="form-control" id="corr_country" name="corr_country" placeholder="Valstybė"  value="{{ object.corr_country }}">
						</div>
				  	</div>
				</div>		
	  			<div class="col-lg-6">
  					<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>	
	  			</div>	  			
			</form>
			
  			<div class="col-lg-6">
  				<button class="btn btn-default btn-lg btn-block new-building-button new-building-cancel" onclick="location.href='{{ request.META.HTTP_REFERER }}'">Atšaukti</button>
  			</div>	
		</div>
	</div>
{% endblock %}