{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'js/new_building.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		{% include 'building_actions.html' %}
		<div class="row col-lg-10 col-lg-offset-1 panel panel-default">
			<h2 class="new-building-title page-header">Keičiamas pastatas: {{ object.name }}</h2>
			{% csrf_token %}
			<form class="form-horizontal building-form" action="{% url 'update_building' object.pk %}?next={{ request.META.HTTP_REFERER }}" method="post">
	  			<div class="form-group row">
	    			<label for="name" class="col-lg-2 control-label">Pavadinimas<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="name" name="name" placeholder="Pavadinimas" required value="{{ object.name }}">
					</div>
					<label for="address" class="col-lg-2 control-label">Adresas<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="address" name="address" placeholder="Adresas" required value="{{ object.address }}">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="floor_count" class="col-lg-2 control-label">Aukštų skaičius<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="floor_count" name="floor_count" placeholder="Aukštų skaičius" required value="{{ object.floor_count }}">
					</div>
					<label for="apartment_count" class="col-lg-2 control-label">Butų skaičius<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="apartment_count" name="apartment_count" placeholder="Butų skaičius" required value="{{ object.apartment_count }}">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="area" class="col-lg-2 control-label">Naudingas plotas kv.m.<span class="asterisk">*</span></label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="area" name="area" placeholder="Naudingas plotas kv.m." required value="{{ object.area }}">
					</div>
					<label for="renovation_finished_at" class="col-lg-2 control-label">Renovacija baigta</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="renovation_finished_at" name="renovation_finished_at" placeholder="Renovacija baigta" value="{{ object.renovation_finished_at }}">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="city" class="col-lg-2 control-label">Miestas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="city" name="city" placeholder="Miestas" value="{{ object.city }}">
					</div>
					<label for="district" class="col-lg-2 control-label">Rajonas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="district" name="district" placeholder="Rajonas" value="{{ object.district }}">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="post_code" class="col-lg-2 control-label">Pašto kodas</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="post_code" name="post_code" placeholder="Pašto kodas"  value="{{ object.post_code }}">
					</div>
					<label for="country" class="col-lg-2 control-label">Valstybė</label>
					<div class="col-lg-4 form-group">
	  					<input class="form-control" id="country" name="country" placeholder="Valstybė"  value="{{ object.country }}">
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="extra_requisites" class="col-lg-2 control-label">Papildomi rekvizitai</label>
					<div class="col-lg-4 form-group">
	  					<textarea class="form-control" id="extra_requisites" name="extra_requisites" rows="3">{{ object.extra_requisites }}</textarea>
					</div>
					<label for="invoice_note" class="col-lg-2 control-label">Pastaba sąskaitoje</label>
					<div class="col-lg-4 form-group">
	  					<textarea class="form-control" id="invoice_note" name="invoice_note" rows="3">{{ object.invoice_note }}</textarea>
					</div>
	  			</div>
	  			<div class="form-group row">
	    			<label for="description" class="col-lg-2 control-label">Aprašymas</label>
					<div class="col-lg-4 form-group">
	  					<textarea class="form-control" id="description" name="description" rows="3">{{ object.description }}</textarea>
					</div>
	  			</div>
	  			<div class="col-lg-6">
	  				<button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>	
	  			</div>
			</form>
			
  			<div class="col-lg-6">
  				<button class="btn btn-default btn-lg btn-block new-building-button new-building-cancel" onclick="location.href='{{ request.META.HTTP_REFERER }}'">Atšaukti</button>
  			</div>	
		</div>
	</div>
{% endblock %}