{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'js/new_compensation.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-12">
		<div class="row col-lg-10 col-lg-offset-1 panel panel-default">
			<h2 class="new-building-title page-header">Keičiamas socialinės paramos grafikas: {{ object.compensation_no }}</h2>
			{% csrf_token %}
            <form class="form-horizontal building-form compensation-form" action="{% url 'update_compensation' object.pk %}?next={{ request.META.HTTP_REFERER }}" method="post">
                <div class="form-group row">
                    <label for="compensation_no" class="col-lg-2 control-label">Pažymos Nr. <span class="asterisk">*</span></label>
                    <div class="col-lg-4 form-group">
                        <input class="form-control" id="compensation_no" name="compensation_no" placeholder="Pažymos Nr." required value="{{ object.compensation_no }}">
                    </div>
                    <label for="apartment" class="col-lg-2 control-label">Butas</label>
                    <div class="col-lg-4 form-group">
                        <select class="form-control" id="apartment" name="apartment">
                            <option value="">Pasirinkite</option>
                            {% for apartment in apartments %}
                                <option value="{{ apartment.pk }}" {% if apartment.pk == object.apartment.pk %}selected{% endif %}>{{ apartment.code }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date_from" class="col-lg-2 control-label">Nuo <span class="asterisk">*</span></label>
                    <div class="col-lg-4 form-group">
                        <input class="form-control datepicker" id="date_from" name="date_from" required value="{{ object.date_from }}">
                    </div>
                    <label for="date_to" class="col-lg-2 control-label">Iki <span class="asterisk">*</span></label>
                    <div class="col-lg-4 form-group">
                        <input class="form-control datepicker" id="date_to" name="date_to" required value="{{ object.date_to }}">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="compensation_approved_date" class="col-lg-2 control-label">Išdavimo data</label>
                    <div class="col-lg-4 form-group">
                        <input class="form-control datepicker" id="compensation_approved_date" name="compensation_approved_date" placeholder="Išdavimo data" value="{{ object.compensation_approved_date }}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary btn-lg btn-block new-building-button">Išsaugoti</button>
                </div>
            </form>
			
  			<div class="col-lg-6">
  				<button class="btn btn-default btn-lg btn-block new-building-button new-building-cancel" onclick="location.href='{{ request.META.HTTP_REFERER }}'">Atšaukti</button>
  			</div>	
		</div>
	</div>
{% endblock %}