/*tml * {
	font-family: 'Open Sans' !important;
}*/

.clickable-row {
	cursor: pointer;
}

.actions {
	padding-bottom: 40px;
}

.new-building-title {
	/*padding-bottom: 40px;*/
}

 .new-building-button {
 	margin-top: 20px !important;
 	margin-bottom: 20px !important;
 }

 .table {
 	margin-bottom: 20px !important;
 }

 textarea {
 	resize: vertical;
 }

.asterisk {
  content:"*";
  color:red;
}

.filter-form {
    padding-bottom: 20px
}

.well {
    margin-top: 15px;
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    border-bottom: #1D8BF1 2px solid;
    outline: 0;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    border-bottom: #1D8BF1 2px solid;
    outline: 0;
}
.tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}

.glyphicon {
    font-size: 14px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  margin-top: -5%;
}