.address-left {
	/*float: right !important;*/
}

.address-right {
	/*float: left !important;*/
	/*margin-left: 5%;*/
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.hcenter {
    text-align: center;
}